﻿@model SugarBattle.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/icon-font.min.css" rel="stylesheet" />
<link href="~/Content/vendors/animate-css/animate.css" rel="stylesheet" />
<link href="~/Content/vendors/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="~/Content/vendors/animate-css/animsition.min.css" rel="stylesheet" />
<link href="~/Content/vendors/select2/select2.min.css" rel="stylesheet" />
<link href="~/Content/login/main.css" rel="stylesheet" />
<link href="~/Content/login/util.css" rel="stylesheet" />
<div class="limiter">
    @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()*@
    <div class="container-login100" style="padding-top: 6%; background-image: url(../../img/CalculateResult/calculate_banner.jpg);background-size:cover; background-position: center; background-repeat:no-repeat">
        <div class="wrap-login100" style="box-shadow:8px 8px 8px 8px rgba(0, 0, 0, 0.6);">
            <div class="login100-form-title" style="background-image: url(../../img/Home/index_pic_left.jpeg);">
                <span class="login100-form-title-1" style="font-weight:800; font-size: 250%;">
                    Sign In
                </span>
            </div>
     
                <form class="login100-form validate-form" method="post" action="/Account/Login" style="background-color: rgba(0, 0, 0, 0.01);">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                        <span class="label-input100">Email</span>


                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", @placeholder = "Enter email address" })

                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>

                        @Html.PasswordFor(m => m.Password, new { @class = "input100", @placeholder = "Enter password" })

                        <span class="focus-input100"></span>
                    </div>

                    @*<div class="flex-sb-m w-full p-b-30">
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div>

                <div>
                    <a href="#" class="txt1">
                        Forgot Password?
                    </a>
                </div>
            </div>*@

                    <div class="container-login100-form-btn col-sm-6">
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                        <div class="col-sm-6" style="margin-top: 2%;">
                            <a href="Register" id="register_link">Register Account</a>

                        </div>
                    </div>

                </form>
            
        </div>
    </div>
</div>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/countdowntime.js"></script>
<script src="~/Scripts/login/main.js"></script>