﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-image:url('../../img/CalculateResult/calculate_banner.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
<div class="container">
    <div class="jumbotron" style="margin-top: 10%; margin-bottom: 10%;">
        <div class="text-center"><i class="fa fa-5x fa-frown-o" style="color:#d9534f;"></i></div>
        <h1 class="text-center">404 Not Found<p><small class="text-center"> Oh noes everything broke</small></p></h1>
        <p class="text-center">Try pressing the back button or clicking on this button.</p>
        <p class="text-center"><a class="btn btn-primary" href="/Home/Index"><i class="fa fa-home"></i> Take Me Home</a></p>
    </div>
</div>
</div>


