﻿#searchContainer {
    margin-top: -2%;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.loopList {
    margin: -1px;
    cursor: pointer;
}

/* Content */
.content {
    height: 190px;
    width: 100%;
    background-color: white;
    padding: 10px;
}

.content:hover{
    transform: scale(1.1,1.1)
}

.loopList,
.loopList > .column {
    padding: 8px;
    cursor: pointer;
}

.itemlist {
    font-size: 130%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 120px;
}

    .itemlist:active {
        background-color: white;
        color: black;
    }

#keyword{
    height: 100%;
    font-size: 150%;
    
}

#searchResult {
    background: rgba(0,0,0,0.1);
    margin: 20%;
    margin-top: 25%;
    font-size: 200%;
    text-align: center;
    color: black;
    font-family: "Poppins", sans-serif;
}

#userFoodList {
    margin-top: -1.5%;
   
}

#pageTitle {
    font-family: "Poppins", sans-serif;
    border-left-style: groove;
    border-left-width: thick;
    border-left-color: green;
    font-size: xx-large;
}

#mainContainer{
    margin-top: 2%;
}

.userListTitle {
    font-size: 200%;
    font-weight: 800;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: cornflowerblue;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    margin-top: -20%;
}

#resultArea {
    margin-right: 5%;
    height: 120px;
    border-radius: 2%;
}

.has-error{
    color: red;
    font-size: x-large;
    margin-left: 10%;
}

.has-success {
    color: green;
    font-size: x-large;
    margin-left: 10%;
}

.container{
    padding-left: 8px;
}

.manual-input:hover {
    text-decoration: underline;
    color: blue;
}

#sub-navbar{
    font-size: large;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: black;
    font-weight: 600;
    background-color: rgba(0,0,0,0.3);
}

    .with-nav-tabs.panel-default .nav-tabs > .open > a,
    .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
    .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
        color: #777;
        background-color: #ddd;
        border-color: transparent;
    }

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: white;
    border-color: #ddd;
    border-bottom-color: transparent;
}

.subnav {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    position: relative;
    width: 190px;
    height: 60px;
    background: #262626;
    text-align: center;
    line-height: 60px;
    margin-bottom: 5px;
    border-radius: 2px;
}

    .subnav:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 60px;
        background: #34495E;
        color: #fff;
        transition: .3s;
        transform-origin: bottom;
        transform: rotateX(90deg) translateY(30px);
        border-radius: 2px;
    }

    .subnav:hover:before {
        transform: rotateX(0deg) translateY(0px);
    }

    .subnav:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 60px;
        background: #262626;
        color: #fff;
        transition: .3s;
        transform-origin: top;
        transform: rotateX(0deg) translateY(0px);
        border-radius: 2px;
    }


    .subnav:hover:after {
        transform: rotateX(90deg) translateY(-30px);
    }

    .fc-title{
        font-size: 14px;
        word-break: break-word;
    }

.fc-body:hover {
    cursor: pointer;
}
