﻿#toolbar-container{
    height: 0px;
}

.tab-fill{
    display: none;
}

.orange-circle-button {
    box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
    border: .5em solid #E84D0E;
    font-size: 1em;
    line-height: 1.1em;
    color: #ffffff;
    background-color: #e84d0e;
    margin: auto;
    border-radius: 50%;
    height: 7em;
    width: 7em;
    position: relative;
}

    .orange-circle-button:hover {
        color: #ffffff;
        background-color: #e84d0e;
        text-decoration: none;
        border-color: #ff7536;
    }

    .orange-circle-button:visited {
        color: #ffffff;
        background-color: #e84d0e;
        text-decoration: none;
    }

.orange-circle-link-greater-than {
    font-size: 1em;
}

.style-button {
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    padding-left: 60px;
    position: relative;
    transform: translateZ(0px);
    transition: all 0.5s ease 0s;
}

    .style-button:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: 100% 50% 0;
        transition: all 0.5s ease-out 0s;
    }

    .style-button:hover:after {
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }

    .style-button span {
        width: 40px;
        height: 100%;
        line-height: 40px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s linear 0s;
    }

        .style-button span:after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background: #fff;
            margin: auto 0;
            position: absolute;
            top: 0;
            right: -6px;
            bottom: 0;
            transform: rotate(45deg);
            transition: all 0.3s linear 0s;
        }

.style-button {
    border: 1px solid #4a93d5;
    background: #4a93d5;
}

    .style-button:hover,
    .style-button span {
        color: #4a93d5;
    }

        .style-button:hover span,
        .style-button:hover span:after {
            background: #4a93d5;
        }


.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

    .portfolio-modal .close-modal .lr {
        z-index: 1051;
        width: 1px;
        height: 75px;
        margin-left: 35px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #212529;
    }
        .portfolio-modal .close-modal .lr .rl {
            z-index: 1052;
            width: 1px;
            height: 75px;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            background-color: #212529;
        }
