﻿body, html {
    width: 100%;
    height: 50%;
}

body {
    background: url('../../img/first_pic.jpg') no-repeat center center fixed;
    background-size: cover;
}

#home {
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;  
    align-items: center;
    height: 100px;
    text-align: center;
    margin-top: 20%;
}

    #home .btn {
        color: rgb(255, 255, 255);
        font-weight: bold;
        letter-spacing: 2px;
        margin-top: 40px;
        background: transparent;
        border-radius: 0px;
        border-width: 3px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-image: initial;
        padding: 16px 42px;
        transition: all 0.4s ease-in-out 0s;
    }

        #home .btn:hover {
            color: rgb(0, 0, 0);
            background-color: white;
        }
