body{
    height: 10000px;
}

.navbar {
    height: 50px;
    background-color: white;
    margin-bottom: 0px;
}

.navbar-brand {
    background-image: url('../img/Home/main_title.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1500%;
    height: 100%;
}

.navbar-header{
    margin-top: 0.5%;
    margin-left: 1%;
}

.navbar-link{
    font-family: Britannic;
    font-weight:100;
    font-size: 30px;
}

.navbar-link:hover{
    background-color: aliceblue;
}

footer {
    background-color: #FFFFFF;
    padding-bottom: 35px;
}

.footer_banner {
    background-color: #B3B3B3;
    padding-top: 60px;
    padding-bottom: 60PX;
    margin-top: 5%;
    margin-bottom: 0px;
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
}

footer {
    display: inline-block;
}

.hidden {
    display: none;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
}   

#titleArea{
    margin-left: 25%;
    width: 50%;
    height: 18%;
}

.hero_header {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 4px;
}

.button {
    width: 200px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
}

    .button:hover {
        background-color: #FEFEFE;
        color: #C4C4C4;
        cursor: pointer;
    }