﻿body {
}

#map-dialog {
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.01);
    border: groove;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #808080;
}

.push_login_btn {
    width: 220px;
    height: 40px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 43px;
    font-family: 'Oswald', Helvetica;
    display: block;
    margin: 30px;
}

    .push_login_btn:before {
        background: #f0f0f0;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
        position: absolute;
        content: "";
        left: -6px;
        right: -6px;
        top: -6px;
        bottom: -10px;
        z-index: -1;
    }

.blue {
    text-shadow: -1px -1px 0 #2C7982;
    background: #3EACBA;
    border: 1px solid #379AA4;
    background-image: -webkit-linear-gradient(top, #48C6D4, #3EACBA);
    background-image: -moz-linear-gradient(top, #48C6D4, #3EACBA);
    background-image: -ms-linear-gradient(top, #48C6D4, #3EACBA);
    background-image: -o-linear-gradient(top, #48C6D4, #3EACBA);
    background-image: linear-gradient(top, #48C6D4, #3EACBA);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

    .blue:hover {
        background: #48C6D4;
        background-image: -webkit-linear-gradient(top, #3EACBA, #48C6D4);
        background-image: -moz-linear-gradient(top, #3EACBA, #48C6D4);
        background-image: -ms-linear-gradient(top, #3EACBA, #48C6D4);
        background-image: -o-linear-gradient(top, #3EACBA, #48C6D4);
        background-image: linear-gradient(top, #3EACBA, #48C6D4);
    }

.subnav {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    position: relative;
    width: 190px;
    height: 60px;
    background: #262626;
    text-align: center;
    line-height: 60px;
}

    .subnav:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 60px;
        background: #34495E;
        color: #fff;
        transition: .3s;
        transform-origin: bottom;
        transform: rotateX(90deg) translateY(30px);
    }

    .subnav:hover:before {
        transform: rotateX(0deg) translateY(0px);
    }

    .subnav:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 60px;
        background: #262626;
        color: #fff;
        transition: .3s;
        transform-origin: top;
        transform: rotateX(0deg) translateY(0px);
    }


    .subnav:hover:after {
        transform: rotateX(90deg) translateY(-30px);
    }

    .list-group-item:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.1);
        
    }

    #WeatherWidget .fullDayName{
        font-size:x-large;
    }

   
