
section {
    padding: 20px 0
}

    section h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px
    }

    section h3.section-subheading {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 75px;
        text-transform: none;
        font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
    }

@media (min-width:768px) {
    section {
        padding: 40px 0
    }
}

.btn {
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 700
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px
}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136
}

    .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
        background-color: #fec810 !important;
        border-color: #fec810 !important;
        color: #fff
    }

    .btn-primary:active, .btn-primary:focus {
        -webkit-box-shadow: 0 0 0 .2rem rgba(254,209,55,.5) !important;
        box-shadow: 0 0 0 .2rem rgba(254,209,55,.5) !important
    }

::-moz-selection {
    background: #fed136;
    text-shadow: none
}

::selection {
    background: #fed136;
    text-shadow: none
}

img::-moz-selection {
    background: 0 0
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

#mainNav {
    background-color: #212529
}

    #mainNav .navbar-toggler {
        font-size: 12px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: #fff;
        border: 0;
        background-color: #fed136;
        font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
    }

    #mainNav .navbar-brand {
        color: #fed136;
        font-family: 'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
    }

        #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: #fec503
        }

    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: .75em 0;
        letter-spacing: 1px;
        color: #fff;
        font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
    }

        #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
            color: #fed136
        }

@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top .3s,padding-bottom .3s;
        transition: padding-top .3s,padding-bottom .3s;
        border: none;
        background-color: transparent
    }

        #mainNav .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all .3s;
            transition: all .3s
        }

        #mainNav .navbar-nav .nav-item .nav-link {
            padding: 1.1em 1em !important
        }

        #mainNav.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: #212529
        }

            #mainNav.navbar-shrink .navbar-brand {
                font-size: 1.25em;
                padding: 12px 0
            }
}

header.masthead {
    text-align: center;
    color: #fff;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover
}

    header.masthead .intro-text {
        padding-top: 150px;
        padding-bottom: 100px
    }

        header.masthead .intro-text .intro-lead-in {
            font-size: 22px;
            font-style: italic;
            line-height: 22px;
            margin-bottom: 25px;
            font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
        }

        header.masthead .intro-text .intro-heading {
            font-size: 50px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 25px;
            font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
        }

@media (min-width:768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }

        header.masthead .intro-text .intro-lead-in {
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
            margin-bottom: 25px;
            font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
        }

        header.masthead .intro-text .intro-heading {
            font-size: 75px;
            font-weight: 700;
            line-height: 75px;
            margin-bottom: 50px;
            font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
        }
}


#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px
}

    #portfolio .portfolio-item .portfolio-link {
        position: relative;
        display: block;
        max-width: 400px;
        margin: 0 auto;
        cursor: pointer
    }

        #portfolio .portfolio-item .portfolio-link .portfolio-hover {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transition: all ease .5s;
            transition: all ease .5s;
            opacity: 0;
            background: rgba(254,209,54,.9)
        }

            #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
                opacity: 1
            }

            #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
                font-size: 20px;
                position: absolute;
                top: 30%;
                width: 100%;
                height: 20px;
                margin-top: -12px;
                text-align: center;
                color: #fff
            }

                #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
                    margin-top: -12px
                }

                #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
                    margin: 0
                }

    #portfolio .portfolio-item .portfolio-caption {
        max-width: 400px;
        margin: 0 auto;
        padding: 25px;
        text-align: center;
        background-color: #fff
    }

        #portfolio .portfolio-item .portfolio-caption h4 {
            margin: 0;
            text-transform: none
        }

        #portfolio .portfolio-item .portfolio-caption p {
            font-size: 16px;
            font-style: italic;
            margin: 0;
            font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
        }

#portfolio * {
    z-index: 2
}

@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

.portfolio-modal {
    padding-right: 0 !important
}

    .portfolio-modal .modal-dialog {
        margin: 1rem;
        max-width: 100vw
    }

    .portfolio-modal .modal-content {
        padding: 100px 0;
        text-align: center
    }

        .portfolio-modal .modal-content h2 {
            font-size: 3em;
            margin-bottom: 15px
        }

        .portfolio-modal .modal-content p {
            margin-bottom: 30px
        }

            .portfolio-modal .modal-content p.item-intro {
                font-size: 16px;
                font-style: italic;
                margin: 20px 0 30px;
                font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
            }

        .portfolio-modal .modal-content ul.list-inline {
            margin-top: 0;
            margin-bottom: 30px
        }

        .portfolio-modal .modal-content img {
            margin-bottom: 30px
        }

        .portfolio-modal .modal-content button {
            cursor: pointer
        }

    .portfolio-modal .close-modal {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        background-color: transparent
    }

        .portfolio-modal .close-modal:hover {
            opacity: .3
        }

        .portfolio-modal .close-modal .lr {
            z-index: 1051;
            width: 1px;
            height: 75px;
            margin-left: 35px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: #212529
        }

            .portfolio-modal .close-modal .lr .rl {
                z-index: 1052;
                width: 1px;
                height: 75px;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                background-color: #212529
            }

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal-content{
    width: 100%;
}

.subnav {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    position: relative;
    width: 120px;
    height: 60px;
    background: #262626;
    text-align: center;
    line-height: 60px;
    margin-bottom: 20px;
}

    .subnav:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 60px;
        background: #34495E;
        color: #fff;
        transition: .3s;
        transform-origin: bottom;
        transform: rotateX(90deg) translateY(30px);
    }

.subnav:hover:before {
    transform: rotateX(0deg) translateY(0px);
}

.subnav:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    background: #262626;
    color: #fff;
    transition: .3s;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0px);
}


.subnav:hover:after {
    transform: rotateX(90deg) translateY(-30px);
}
