﻿
@{
    ViewBag.Title = "CalculateResult";
    ViewBag.Temp = ViewBag.ScoopNumber;
    ViewBag.CubeTemp = ViewBag.CubeSugarNumber;
    ViewBag.JoggingTemp = ViewBag.JoggingNumber;


}

<link href="~/Content/CalculateSugar.css" rel="stylesheet" />
<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-3 text-center">
                <img class="scoop" src="~/img/CalculateResult/kid.png" alt="cube" style="height: 40px; width: 40px;" />
            </div>
            <div class="col-xs-9" style="font-size: 15px">
                <ul>    
                    <li>
                        @if (@ViewBag.AverageNumber <= 1)
                        {
                            <span style="font-weight: 700; color: green">@ViewBag.AverageNumber</span>
                        }
                        else
                        {
                            <span style="font-weight: 700; color: red">@ViewBag.AverageNumber</span>
                        }


                        <span> Kid Average Sugar Amount Per Day</span>
                    </li>
                    <li>
                        (1 kid per day = 61g sugar)
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-3 text-center">
                <img class="scoop" src="~/img/CalculateResult/scoop.png" alt="cube" style="height: 40px; width: 70px;" />
            </div>
            <div class="col-xs-9" style="font-size: 15px">
                <ul>
                    @if (ViewBag.ScoopNumber <= 3)
                    {
                        <li><span style="font-weight: 600; color: green">@ViewBag.ScoopNumber</span><span> spoons of Scoops Sugar</span></li>
                    }
                    else
                    {
                        <li><span style="font-weight: 600; color: red">@ViewBag.ScoopNumber</span><span> spoons of Scoops Sugar</span></li>
                    }
                    <li>(1 spoon = 15g sugar)</li>
                </ul>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-3 text-center">
                <img class="scoop" src="~/img/CalculateResult/cubesugar.png" alt="cube" style="height: 40px; width: 50px" />
            </div>
            <div class="col-xs-9" style="font-size: 15px">
                <ul>
                    @if (ViewBag.CubeSugarNumber <= 11)
                    {
                        <li><span style="font-weight: 600; color: green">@ViewBag.CubeSugarNumber</span><span> Cube of Sugar</span></li>
                    }
                    else
                    {
                        <li><span style="font-weight: 600; color: red">@ViewBag.CubeSugarNumber</span><span> Cube of Sugar</span></li>
                    }
                    <li>
                        (1 cube = 4g sugar)
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-3 text-center">
                <img class="scoop" src="~/img/CalculateResult/jogging.jpg" alt="cube" style="height: 40px; width: 40px" />
            </div>
            <div class="col-xs-9" style="font-size: 15px">
                <ul>
                    @if (ViewBag.JoggingNumber <= 3)
                    {
                        <li><span style="font-weight: 600; color: green">@ViewBag.JoggingNumber</span><span> hours Activities</span></li>
                    }
                    else
                    {
                        <li><span style="font-weight: 600; color: red">@ViewBag.JoggingNumber</span><span> hours Activities</span></li>
                    }
                    <li>(1 hour = 20g sugar)</li>
                </ul>

            </div>
        </div>
    </li>
</ul>



@*<div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    10cm-Cube Sugar <span class="glyphicon glyphicon-remove"></span> @ViewBag.CubeSugarNumber
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                @{ViewBag.Much = 0;}
                @while (ViewBag.CubeTemp > 0)
                {
                    if (ViewBag.Much >= 50)
                    {

                        <div style="font-size:xx-large;">.................</div>

                        break;
                    }

                    <img class="scoop" src="~/img/CalculateResult/cubesugar.png" alt="cube" style="height: 30px;" />

                    ViewBag.Much++;
                    ViewBag.CubeTemp--;
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Jogging <span class="glyphicon glyphicon-remove"></span> @ViewBag.JoggingNumber
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                @{ViewBag.Much = 0;}
                @while (ViewBag.JoggingTemp > 0)
                {
                    if (ViewBag.Much >= 30)
                    {

                            <div style="font-size:xx-large;">.................</div>

                        break;
                    }

                        <img class="scoop" src="~/img/CalculateResult/jogging.jpg" alt="jogging" style="height: 30px;"  />

                    ViewBag.Much++;
                    ViewBag.JoggingTemp--;
                }
            </div>
        </div>
    </div>*@

