﻿@model IEnumerable<SugarBattle.Models.FoodListViewModel>
@{
    ViewBag.Title = "Sugar Calculator";
    Session["url"] = "DailyPlan/CalculateSugar";
}
<link href="~/Content/CalculateSugar.css" rel="stylesheet" />
<section class="banner_area" style="padding-bottom: 5%;">
   
        <div class="container banner_text_inner" style="padding-top: 6%; padding-bottom: 4%;">
            <div style=" background-color: rgba(0, 0, 0, 0.5); padding-top: 2%; padding-bottom: 2%;border-radius: 10px;">
                <h4>Try Sugar Intake Calculator for Your Kids</h4>
                <ul>
                    <li style="color: white; font-size:large; margin-bottom: 0.5%; margin-top: 1%;">Step 1 - Search Food</li>
                    <li style="color: white; font-size:large;margin-bottom: 0.5%;">Step 2 - Choose Quantity</li>
                    <li style="color: white; font-size:large;">Step 3 - Add to list</li>
                </ul>
            </div>
        </div>
   

    <div>
        <div class="container" style="background-color: white; border-radius: 10px;">
            <div class="container" id="mainContainer">
                <div class="container" style="margin-top: 1%; margin-bottom: 5%;">
                    <ul id="sub-navbar" class="text-center">
                        <li style="display: inline-block"><a href="/DailyPlan/CalculateSugar" class="subnav" data-text="Sugar Calculator"></a></li>

                        @if (Session["user"] == null)
                        {
                            <li style="display: inline-block"><a href="#" data-toggle="modal" data-target="#loginWarningModal" class="subnav" data-text="My Sugar Tracking"></a></li>
                        }
                        else
                        {
                            <li style="display: inline-block"><a href="/DailyPlan/ShowMyFoodList"  class="subnav" data-text="My Sugar Tracking"></a></li>
                        }
                    </ul>
                    <hr />
                    @*<ul id="sub-navbar">
                            <li style="display: inline-block"><a href="/DailyPlan/CalculateSugar">Sugar Calculator</a></li> /
                            <li style="display: inline-block"><a href="/DailyPlan/ShowMyFoodList">My Food Track</a></li>
                        </ul>*@
                    <div class="col-md-8">
                        @if (Model != null)
                        {
                            <ul class="list-inline list-group">
                                <li style="margin-right: -1.3%;"><button href="#" class="list-group-item itemlist text-center" id="0" style="width:120px; text-align:center;">All</button></li>
                                @foreach (var listitem in Model)
                                {
                                    {
                                        <li style="margin-right: -1.3%;"><button href="#" class=" alert-info list-group-item itemlist" id="@listitem.food_type_ID" style="width:120px; text-align:center">@listitem.type_description</button></li>
                                    }
                                }

                            </ul>
                        }
                    </div>

                    <div class="container" id="foodListPage" style="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#foodListPage").load("ShowFoodList?foodTypeId=" + "0");

        $(".itemlist").each(function () {
            $(this).click(function () {
                $(".itemlist").css("background-color", "rgba(0,0,0,0.3)");
                var foodTypeId = $(this).attr("id");
                $("#foodListPage").load("ShowFoodList?foodTypeId=" + foodTypeId);
                $(this).css("background-color", "white");
            });
        });
    });

    var showMyFoods = function () {
        $("#foodListPage").load("ShowFoodList?foodTypeId=" + -1);
    };
</script>
