﻿@model IEnumerable<SugarBattle.Models.UserFoodViewModel>
@{
    ViewBag.Title = "Sugar Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="~/Content/usercalendar.css" rel="stylesheet" />
<link href="~/Content/CalculateSugar.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>
<script>
    $(document).ready(function () {
        var activities = [];
        $(".activities").each(function () {
            var title = $(".title", this).html().trim();
            
            var start = $(".start", this).text().trim();
            var Desc = $(".desc", this).text().trim();
            var dailyFoodList = $(".dailyFoodList", this).html();
            //var Type = $(".type", this).text().trim();
            //var colorClass = "";
            //if (Type == "Playground") {
            //    colorClass = 'bg-info';
            //} else if (Type == "Park") {
            //    colorClass = 'bg-success';
            //}

            //var id = $(this).attr("id");


            var activity = {
                desc: Desc,
                title: title,
                start: start,
                dailyFood: dailyFoodList
                //activityId: id,
                //allDay: false,
                //className: colorClass
            };
            activities.push(activity);
            var thisDate = new Date();
            var foodDate = new Date(start);
            if (foodDate.getDate() == thisDate.getDate() && foodDate.getMonth() == thisDate.getMonth() && foodDate.getFullYear() == thisDate.getFullYear()) {
                $("#totalAmount").append(Desc);
                $("#totalAmount").html(dailyFoodList);
                $("#panel-sugar").html(title.slice(7));
                $("#panel-date").html(thisDate.getFullYear() + "/" + thisDate.getMonth() + "/" + thisDate.getDate());
            } else {
                $("#totalAmount").append(Desc);
                $("#totalAmount").html("No Sugar Record On This Day");
                $("#panel-sugar").html("0.00");
                $("#panel-sugar").append('g');
                $("#panel-date").html(thisDate.toLocaleDateString());
            }
        });


        $("#calendar").fullCalendar({
            header: {
                left: 'title',
                right: 'prev,next today'
            },
            selectable: true,
            firstDay: 1,
            defaultView: 'month',


            selectHelper: true,
            select: function (start, end, allDay) {
                //action when choose date
            },

            eventClick: function (calEvent, jsEvent, view) {
           
                    $("#totalAmount").append(calEvent.desc);
                    $("#totalAmount").html(calEvent.dailyFood);
                $("#panel-sugar").html(calEvent.title.slice(7));
                $("#panel-date").html(calEvent.start.format('YYYY/M/D'));
              
            },

            dayClick: function (date, jsEvent, view) {
                var dateEvent = [];
                $('#calendar').fullCalendar('clientEvents', function (event) {
                    var eventStart = event.start.format('YYYY/M/D');
                   
                    if (eventStart == date.format('YYYY/M/D')) {
                        dateEvent.push(event);
                    }
                    $(this).css('background-color', 'red');
                });
                if (dateEvent.length != 0) {
                    $("#totalAmount").append(dateEvent[0].desc);
                    $("#totalAmount").html(dateEvent[0].dailyFood);
                    $("#panel-sugar").html(dateEvent[0].title.slice(7));
                    $("#panel-date").html(dateEvent[0].start.format('YYYY/M/D'));
                } else {
                    $("#totalAmount").html("<div>No Sugar Record On This Day</div>");
                    $("#panel-sugar").html("0.00");
                    $("#panel-date").html(date.format('YYYY/M/D'));
                }
            },

            locale: 'au',
            events: activities,
            allDay: true,
            selectHelper: true,

            selectHelper: true,
            //eventClick: function (calEvent, jsEvent, view) {
            //    editActivity(calEvent.activityId);
            //},
        });
    })
</script>
<section class="banner_area" style="padding-bottom: 5%;">

    <div class="container banner_text_inner" style="padding-top: 6%;padding-bottom: 4%;">
        <div style=" background-color: rgba(0, 0, 0, 0.5); padding-top: 2%; padding-bottom: 2%;border-radius: 10px;">
            <h4>Try Sugar Intake Calculator for Your Kids</h4>
            <ul>
                <li style="color: white; font-size:large; margin-bottom: 0.5%; margin-top: 1%;">Step 1 - Search Food</li>
                <li style="color: white; font-size:large;margin-bottom: 0.5%;">Step 2 - Choose Quantity</li>
                <li style="color: white; font-size:large;">Step 3 - Add to list</li>
            </ul>
            </div>
        </div>

        <div>
            <div class="container" style="background-color: white;border-radius:10px;">
                <div class="container" style="margin-top: 3%;">
                    <ul id="sub-navbar" class="text-center">
                        <li style="display: inline-block"><a href="/DailyPlan/CalculateSugar" class="subnav" data-text="Sugar Calculator"></a></li>
                        <li style="display: inline-block"><a href="/DailyPlan/ShowMyFoodList" class="subnav" data-text="My Sugar Tracking"></a></li>
                    </ul>
                    <hr />
                    @*<ul id="sub-navbar" style="font-size: large;margin-bottom: 2%;margin-left: 2%;">
                        <li style="display: inline-block"><a href="/DailyPlan/CalculateSugar">Sugar Calculator</a></li> /
                        <li style="display: inline-block"><a href="/DailyPlan/ShowMyFoodList">My Food Track</a></li>
                    </ul>*@
                    <div class="col-md-6" id="calendarPart">
                        <div id="calendar" style="margin-bottom: 5%; background-color: rgba(255,255,255,0.05); padding: 1%; box-shadow: 2px 2px 2px 2px #383838; border-radius: 1%;"></div>
                        <div>
                            <table class="table" style="display: none;">
                                <tr>
                                    <th>
                                        Activity
                                    </th>
                                    <th>
                                        Activity Date
                                    </th>
                                    <th></th>
                                </tr>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="activities">
                                            <td class="title">
                                                Sugar:
                                                @Html.DisplayFor(modelItem => item.SugarAmountTotal) g
                                            </td>
                                            <td class="start">
                                                @Html.DisplayFor(modelItem => item.FoodDate)
                                            </td>
                                            <td class="desc">
                                                @Html.DisplayFor(modelItem => item.FoodAmountTotal)
                                            </td>
                                            <td class="dailyFoodList">
                                                @foreach (var food in item.UserFoodList)
                                                {
                                                    var food_total = Math.Round((decimal)(food.food_number * food.quantity), 2);
                                                    <div class="row" style="margin-left: 1%; margin-bottom: 1%">
                                                        <div class="col-sm-6" style="font-size: small;color: black">
                                                            <div style="width: 40px; height: 40px; display:inline-block">
                                                                @if (food.type_description != null)
                                                                {
                                                                    <img style="width: 100%" src="../img/food_photo/@{@food.type_description}/@{@food.food_Id}.png " alt="@food.food_name" />
                                                                }
                                                                else
                                                                {
                                                                    <img style="width: 100%" src="../img/food_photo/UserFood/user-food.jpg " alt="@food.food_name" />
                                                                }
                                                            </div>
                                                            <span>@food.food_name</span>
                                                        </div>
                                                        <div class="col-sm-3" style="font-size: small; color: black">
                                                            @food_total

                                                            <span>g</span>

                                                        </div>
                                                        <div class="col-sm-3" style="font-size: small;color: black">
                                                            @Math.Round((decimal)(food.sugar), 2)g
                                                        </div>

                                                    </div>
                                                }
                                            </td>
                                            @*<td class="status">
                                                @item.ReserveStatus
                                            </td>*@
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Daily Food Trace</h2>
                            </div>
                            <div class="panel-body" id="totalAmount" style="height: 350px;">

                            </div>
                            <div class="panel-footer">
                                <ul style="font-size: large; text-align: right">
                                    <li style="display: inline-block">Date: </li>
                                    <span id="panel-date" style="font-weight: 600;"></span>
                                    <br />
                                    <li style="display: inline-block">Sugar Amount: </li>
                                    <span id="panel-sugar" style="font-weight:600; color: red"></span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
