﻿@model IEnumerable<SugarBattle.Models.FoodViewModel>
@{
    Layout = null;
}
<link href="~/Content/CalculateSugar.css" rel="stylesheet" />
<div class="col-md-8" id="searchContainer" style="margin-bottom: 1%; background-color: rgba(0,0,0,0.1); box-shadow: 2px 2px 2px #DDDDDD;">
    <div class="row" style="margin-top: 3%; margin-left: 2%; padding-bottom: 2%;">

        <div class="col-md-7" style="font-size:">
            <a class="btn icon-btn btn-success" data-toggle="modal" data-target="#myModal" onclick="addManually()"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>&nbsp; Add Manually</a>
            &nbsp; | &nbsp;
            @if (Session["user"] != null)
            {
            <a class="btn icon-btn btn-success" onclick="showMyFoods()"><span class="glyphicon btn-glyphicon glyphicon-thumbs-up img-circle text-primary"></span>&nbsp; My Food</a>
            }
            else
            {
            <a class="btn icon-btn btn-success" data-toggle="modal" data-target="#loginWarningModal"><span class="glyphicon glyphicon-thumbs-up img-circle" style="color:white"></span>&nbsp; My Food</a>
            }
        </div>
        <div class="col-md-5">
            <input type="search" class="form-control" name="keyword" id="keyword" placeholder="Search for food" style="display: inline-block;width: 80%;">
        </div>
    </div>
    <div class="" style="height: 600px; overflow: auto;">
        <div class="alert-danger" id="searchResult" hidden="hidden">
            <div style="background-color: #383838; height: 60px; color: white; padding-top: 3%;">Your item is not on the list. </div><br />
            <a class="btn btn-success btn-block" id="addSugar" style="font-size:80%;">Add Sugar Manually from Package</a>
            <a class="btn btn-block" id="linkToGoogle" style="background-color: darkblue; color:white; font-size:80%" data-toggle="modal" data-target="#myModal">Or Click Here for Search</a>
        </div>
        @if (Model != null)
        {
            foreach (var item in Model)
            {

                <div class="col-lg-3 col-md-3 col-sm-3 loopList" id="@item.food_Id">
                    <div class="column nature">
                        <div class="content" style="box-shadow: 1px 1px 1px #DDDDDD;">
                            <div style="width: 120px; height: 110px;">
                                @if (item.type_description == "userFood")
                                {
                                    <img src="../img/food_photo/userfood.png " alt="@item.food_name" class="picture" />
                                }
                                else
                                {
                                    <img src="../img/food_photo/@{@item.type_description}/@{@item.food_Id}.png " alt="@item.food_name" class="picture" />
                                }
                            </div>
                            <h5>@item.food_name</h5>
                            <p>@{@item.sugar}g (per 100g)</p>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="foodModal_@item.food_Id">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h3 class="modal-title">Add Food to MyList</h3>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-3" style="margin-top: 5%;">
                                        @if (item.type_description == "userFood")
                                        {
                                            <img src="../img/food_photo/userfood.png " alt="@item.food_name" class="picture" />
                                        }
                                        else
                                        {
                                            <img src="../img/food_photo/@{@item.type_description}/@{@item.food_Id}.png " alt="@item.food_name" class="picture" />
                                        }
                                    </div>
                                    <div class="col-sm-7 form-group">
                                        <label for="foodName" style="font-size: large">Food Name</label>
                                        <input class="form-control" type="text" value="@item.food_name" disabled="disabled" />
                                        <label for="sugarAmount" style="font-size: large; margin-top: 2%;">Sugar Contain</label>
                                        <input class="form-control" type="text" value="@{@item.sugar} per 100g" disabled="disabled" />
                                        <label for="foodQuantity" style="font-size: large; margin-top: 2%;">Food Amount You Eat</label>
                                        <br />
                                        <select class="itemAmount">
                                            @if (item.type_description == "Soft Drink" && item.quantity <= 600)
                                            {
                                                <option value="0"></option>
                                                <option value="1">1 bottle/can</option>
                                                <option value="1.25">2 bottles/cans</option>
                                                <option value="1.5">3 bottles/cans</option>
                                                <option value="1.75">4 bottles/cans</option>
                                                <option value="2">5 bottles/cans</option>
                                            }
                                            else if (item.type_description == "Soft Drink" && item.quantity > 600)
                                            {
                                                <option value="0"></option>
                                                <option value="0.2">1 small cup</option>
                                                <option value="0.4">1 big cup</option>
                                                <option value="0.5">half bottle</option>
                                                <option value="0.7">2 big cups</option>
                                                <option value="1">1 bottle</option>
                                            }
                                            else if (item.type_description == "Chocolate" && item.quantity <= 13)
                                            {
                                                <option value="0"></option>
                                                <option value="1">1 grain</option>
                                                <option value="2">2 grains</option>
                                                <option value="3">3 grains</option>
                                                <option value="4">4 grains</option>
                                                <option value="5">5 grains</option>
                                                <option value="6">6 grain</option>
                                                <option value="7">7 grains</option>
                                                <option value="8">8 grains</option>
                                                <option value="9">9 grains</option>
                                                <option value="10">10 grains</option>
                                            }
                                            else if (item.type_description == "Chocolate")
                                            {
                                                <option value="0"></option>
                                                <option value="0.25">one quarter of bar</option>
                                                <option value="0.5">half bar</option>
                                                <option value="0.75">three quarters of bar</option>
                                                <option value="1">one bar</option>
                                                <option value="2">two bars</option>
                                                <option value="3">three bars</option>
                                                <option value="4">four bars</option>
                                                <option value="4">five bars</option>
                                            }
                                            else if (item.type_description == "Cookie")
                                            {
                                                <option value="0"></option>
                                                <option value="0.25">one quarter of packet</option>
                                                <option value="0.5">half packet</option>
                                                <option value="0.75">three quarters of packet</option>
                                                <option value="1">one packet</option>
                                                <option value="2">two packets</option>
                                                <option value="3">three packets</option>
                                                <option value="4">four packets</option>
                                                <option value="4">five packets</option>
                                            }
                                            else if (item.type_description == "Ice-cream" && item.quantity <= 500)
                                            {
                                                <option value="0"></option>
                                                <option value="0.5">half stick/cup</option>
                                                <option value="1">one sticks/cup</option>
                                                <option value="2">two sticks/cup</option>
                                                <option value="3">three sticks/cup</option>
                                                <option value="4">four sticks/cup</option>
                                                <option value="5">five sticks/cup</option>
                                            }
                                            else if (item.type_description == "userFood")
                                            {
                                                <option value="0"></option>
                                                <option value="0.25">1/4</option>
                                                <option value="0.5">1/2</option>
                                                <option value="0.75">3/4</option>
                                                <option value="1">1</option>
                                                <option value="1.25">1 + 1/4</option>
                                                <option value="1.5">1 + 1/2</option>
                                                <option value="1.75">1 + 3/4</option>
                                                <option value="2">2</option>
                                            }
                                            else
                                            {
                                                <option value="0"></option>
                                                <option value="0.2">one stick/bowl</option>
                                                <option value="0.4">two sticks/bowls</option>
                                                <option value="0.6">three sticks/bowls</option>
                                                <option value="0.8">four sticks/bowls</option>
                                                <option value="1">five sticks/bowls</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-1"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-info" onclick="addOne(@item.food_Id)" value="Save food">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                    >
                </div>
            }
        }
        <input id="tempAmount" value="" hidden="hidden" />
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Enter Sugar Manually and Close after Submit</h3>
            </div>
            <div class="modal-body form-group" id="myModalBody">
                <div class="input-group" style="margin-bottom: 2%;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <span style="font-size: 150%;">Food Name</span>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="foodName" type="text" placeholder="" style="width: 150%;" />
                    </div>
                </div>
                <div class="input-group" style="margin-bottom: 2%;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <span style="font-size: 150%;">Food Amount</span>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="foodAmount" maxlength="4" type="text" onkeyup="value=value.replace(/\D/g, '')" placeholder="g/ml (read from food packet)" style="width: 150%;" />
                    </div>
                </div>
                <div class="input-group" style="margin-bottom: 2%; width: 75%;">

                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <span style="font-size: 150%;">Eat How much</span>
                    </div>
                    <div class="col-sm-6">
                        <select class="itemAmount form-control">
                            <option value="0"></option>
                            <option value="0.25">1/4</option>
                            <option value="0.5">1/2</option>
                            <option value="0.75">3/4</option>
                            <option value="1">1</option>
                            <option value="1.25">1 + 1/4</option>
                            <option value="1.5">1 + 1/2</option>
                            <option value="1.75">1 + 3/4</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>

                <div class="input-group" style="margin-bottom: 2%;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <span style="font-size: 150%;">Sugar Amount</span>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="sugarAmount" type="text" onkeyup="value = value.replace(/\D/g, '')"
                               maxlength="2" placeholder="g/100g (read from food packet)" style="width: 150%;" />
                    </div>
                </div>
                <div class="has-success"></div>
                <div class="has-error"></div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="addNewFood()">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4" style="margin-top: -2%;">
    <div class="panel with-nav-tabs panel-default" style="height: 530px; margin-right: 5%; background-color:rgba(0,0,0,0.1); box-shadow: 2px 2px 2px #DDDDDD;">
        <div class="panel-heading" style=" padding-bottom:0px; background-color: rgba(0,0,0,0.01); border-bottom-style:solid; border-bottom-color:white; border-bottom-width: thick">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#foodList" data-toggle="tab">My Item List</a></li>
                <li><a href="#b" data-toggle="tab">My Result</a></li>
            </ul>
        </div>
        <div class="panel-body" style="height: 470px; overflow-x:hidden; padding-left: 0px; padding-right:0px;">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="foodList">
                    <div class="row" style="margin-left: 3%; width: 105%;">
                        <div class="col-sm-4" style="font-size:medium;color: black;">Name</div>
                        <div class="col-sm-3" style="font-size:medium;color: black;">Amount</div>
                        <div class="col-sm-3" style="font-size:medium;color: black;">Sugar</div>
                        <div class="col-sm-2"></div>
                    </div>
                    <hr style="border-top: 3px solid #ffffff" />
                    <div id="userFoodList"></div>
                </div>
                <div class="tab-pane fade" id="b">
                    <div id="sugarResult" style="padding-left: 2%; padding-right: 2%;"></div>
                </div>
            </div>
        </div>
    </div>

  
    <div class="" id="resultArea" style="background-color: rgba(0,0,0,0.1); box-shadow: 2px 2px 2px #DDDDDD;">
        <div class="col-xs-8" style="margin-top: 5%;">
            <h4 style="display: inline;">Food Total:</h4>
            <span id="totalFoodAmount" style="color: black; font-size: 130%; margin-left: 2%;">0</span>
            <span style="color: black; font-size: 130%;">kg</span><br />
            <h4 style="display: inline;">Drink  Total:</h4>
            <span id="totalDrinkAmount" style="color: black; font-size: 130%; margin-left: 2%;">0</span>
            <span style="color: black; font-size: 130%;">L</span><br />
            <h4 style="display: inline;">Sugar Total:</h4>
            <span id="totalSugarAmount" style="color: red; font-size: 130%; margin-left: 2%;">0</span>
            <span style="color: red; font-size: 130%;">g</span>
        </div>
        <div class="col-xs-4">
            @if (Session["user"] == null)
            {
                <a class="btn btn-block" data-toggle="modal" data-target="#loginWarningModal" href="#" style="font-size: small; text-align:center; margin-top: 55%; background-color: #383838; color: white" id="goToResultPage">Save List</a>
            }
            else
            {
                <a class="btn btn-block" href="#" style="font-size: small; text-align:center; margin-top: 55%; background-color: #383838; color: white" id="saveMyFoodList">Save List</a>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="loginWarningModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to bottom, grey, #383838); color:white;">
                <a href="#" class="close" data-dismiss="modal">&times</a>
                <h2>Information Tips</h2>
            </div>
            <div class="modal-body">
                <h3 style=" line-height: 40px">You can have your sugar tracking after you log in</h3>
            </div>
            <div class="modal-footer">
                <a href="/Account/Login" class="btn btn-success">Login Now</a>
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="saveFoodWarningModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to bottom, grey, #383838); color:white;">
                <a href="#" class="close" data-dismiss="modal">&times</a>
                <h2>Information Warning</h2>
            </div>
            <div class="modal-body">
                <h3 style=" line-height: 40px">Do you want to save today's food list information?</h3>
            </div>
            <div class="modal-footer">
                <a href="/DailyPlan/SaveFood" class="btn btn-primary">Save food list</a>
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap-notify.js"></script>
<script src="~/Scripts/bootstrap-notify.min.js"></script>
<script>
    $(document).ready(function () {
        $("#userFoodList").load("UserFoodList");

        $(".loopList").each(function () {
            $(this).click(function () {
                var foodId = $(this).attr('id');
                $("#foodModal_" + foodId).modal('show');
            })
        })

        $("#saveMyFoodList").click(function () {
            if ($("#totalFoodAmount").text() == "0" && $("#totalDrinkAmount").text() == "0") {
                $.notify({
                    icon : 'glyphicon glyphicon-warning-sign',
                    message: 'Please choose something to your list'
                }, {
                        type: 'danger'
                    });

            } else {
                $("#saveFoodWarningModal").modal("show");
            }
        })

        $("#linkToGoogle").click(function () {
            var keyword = $("#keyword").val();
            window.open("https://au.openfoodfacts.org/cgi/search.pl?search_terms=" + keyword + "& search_simple=1&action=process");
        })

        $("#addSugar").click(function () {
            $(".has-error").html("");
            $("#foodName").val("");
            $("#foodAmount").val("");
            $(".itemAmount").val("");
            $("#sugarAmount").val("");
            $("#tempAmount").val("");
            $("#myModal").modal("show");
            var keyword = $("#keyword").val();
            $("#foodName").val(keyword);
        });

        $("#keyword").keyup(function () {
            $("#searchResult").hide();
            $(".loopList").each(function () {
                var id = $(this).attr('id');
                $(this).show();
            });

            var searchContent = $("#keyword").val();

            $.ajax({
                type: "POST",
                url: "/DailyPlan/SearchItem",
                data: { SearchContent: searchContent, FoodTypeId: @ViewBag.FoodTypeId},
                success: function (response) {
                    if (response == "false") {
                        $(".loopList").each(function () {
                            var id = $(this).attr('id');
                            $(this).hide();
                        });
                        $("#searchResult").show();
                    }
                    else {
                        $(".loopList").each(function () {
                            var id = $(this).attr('id');
                            var flag = false;
                            $.each(response, function (key, value) {
                                if (id == value.food_Id)
                                    flag = true;
                            });
                            if (flag == false)
                                $(this).hide();
                        });

                    }
                }
            });
        });

        $(".itemAmount").each(function () {
            $(this).change(function () {
                $("#tempAmount").val($(this).val());
            });
        });
    })

    var addManually = function () {
        $(".has-error").html("");
        $("#foodName").val("");
        $("#foodAmount").val("");
        $(".itemAmount").val("");
        $("#sugarAmount").val("");
        $("#tempAmount").val("");
    };

    var addNewFood = function () {

        var foodName = $("#foodName").val();
        var foodAmount = $("#foodAmount").val();
        var sugarAmount = $("#sugarAmount").val();
        var foodNumber = $("#tempAmount").val();

        $.ajax({
            async: false,
            type: "POST",
            url: "/DailyPlan/AddNewFood",
            data: { FoodName: foodName, FoodAmount: foodAmount, SugarAmount: sugarAmount, FoodNumber: foodNumber },
            success: function (response) {
                if (response == "success") {

                    $("#userFoodList").load("UserFoodList");
                    $("#myModal").modal('hide');
                } else {
                    $(".has-success").html("");
                    $(".has-error").html(response);
                }
            }
        })


    }

    var addOne = function (itemId) {
        var option = $("#tempAmount").val();

        $.ajax({
            type: "POST",
            url: "/DailyPlan/AddItem",
            async: false,
            data: { FoodNumber: option, FoodId: itemId},
            success: function (response) {
                if (response == "success") {
                    $("#item_" + itemId).val(0);
                    $("#userFoodList").load("UserFoodList");
                    $("#tempAmount").val("");
                    $(".itemAmount").val("");
                    $("#foodModal_" + itemId).modal('hide');
                } else {

                }
            }
        });
    };

    var deleteOne = function (itemId) {
        var itemAmount = $("#userItem_" + itemId).val();

            $.ajax({
                type: "POST",
                url: "/DailyPlan/AddItem",
                data: { FoodNumber: -itemAmount, FoodId: itemId },
                success: function (response) {
                    if (response == "success") {
                        $("#userFoodList").load("UserFoodList");
                    }
                }
            });
    };

    var clearNumber = function (itemId) {
        $("#item_" + itemId).val(0);
    };
</script>
