﻿@model IEnumerable<SugarBattle.Models.FoodViewModel>
@{
    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        var food_total = Math.Round((decimal)(item.food_number * item.quantity), 2);
        <div class="row" style="margin-left: 3%;">
            <div class="col-sm-4" style="font-size: small;color: black">
                @item.food_name
            </div>
            <div class="col-sm-3" style="font-size: small; color: black">
                @food_total
                       
                            <span>g</span>
                        
            </div>
            <div class="col-sm-3" style="font-size: small;color: black">
                @{@item.sugar}g
            </div>
        
                    <input id="userItem_@item.food_Id" value="@item.food_number" hidden="hidden" />
        
                    <div class="col-sm-2">
                <a href="#" class="text-danger" onclick="deleteOne(@item.food_Id)" style="font-size: small;"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
        <hr style="border-top: 3px solid #ffffff" />
    }
}

<script>
    $(document).ready(function () {  
        $("#totalFoodAmount").text(@ViewData["TotalFoodAmount"]);
        $("#totalSugarAmount").text(@ViewData["TotalSugarAmount"]);
        $("#totalDrinkAmount").text(@ViewData["TotalDrinkAmount"]);
        $("#myModal").modal("hide");
        $("#sugarResult").load("/DailyPlan/CalculateResult?SugarTotalAmount=" + @ViewData["TotalSugarAmount"]);
    })
</script>