﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/Content/About.css" rel="stylesheet" />


<div class="container" style="margin-top: 5%;">
    <div class="span" id="pageTitle" style="margin-bottom: 3%;"><span style="margin-left: 3%;">Team Member</span></div>
    <div class="col-md-6 member">
        <div class="col-sm-4">
            <img src="~/img/About/ram.PNG" style="width: 100%; height: 100%; object-fit: cover"/>
        </div>
        <div class="col-sm-8">
            <h3>Ram Purmessur</h3>
            <div style="font-style:italic; font-weight: 500;">Master of Data Science</div>
            <br />
            <div>Data Analyst</div>
        </div>
    </div>

    <div class="col-md-6 member">
        <div class="col-sm-4">
            <img src="~/img/About/jizhou.jpg" style="width: 100%; height: 100%; object-fit: cover"/>
        </div>
        <div class="col-sm-8">
            <h3>Jizhou Wang</h3>
            <div style="font-style:italic; font-weight: 500;">Master of Information Technology</div>
            <br />
            <div>Software Engineer</div>
        </div>
    </div>

    <div class="col-md-6 member">
        <div class="col-sm-4">
            <img src="~/img/About/luchen.jpg"  style="width: 100%; height: 100%; object-fit: cover"/>
        </div>
        <div class="col-sm-8">
            <h3>Lu Chen</h3>
            <div style="font-style:italic; font-weight: 500;">Master of Business Information System</div>
            <br />
            <div>UI Designer </div>
        </div>
    </div>

    <div class="col-md-6 member">
        <div class="col-sm-4">
            <img src="~/img/About/songnan.PNG" style="width: 100%; height: 100%; object-fit: cover"/>
        </div>
        <div class="col-sm-8">
            <h3>Songnan Lin</h3>
            <div style="font-style:italic; font-weight: 500;">Master of Network Security</div>
            <br />
            <div>Network Engineer </div>
        </div>
    </div>

</div>*@



