﻿
@{
    ViewBag.Title = "Facts";
    Session["url"] = "Home/Disease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/magnific-popup.css" rel="stylesheet" />
<link href="~/Content/FactDiagram.css" rel="stylesheet" />
<script src="~/Scripts/jquery.magnific-popup.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
    });
</script>
<section class="banner_area">

    <div class="container banner_text_inner" style="padding-top: 6%; padding-bottom: 4%;">
        <div style=" background-color: rgba(0, 0, 0, 0.5); padding-top: 2%; padding-bottom: 2%;border-radius: 10px;">
            <h4>Why Too Much Sugar Is Bad for You??</h4>
            <div style="color: white; font-size:large; margin-bottom: 1%; margin-top: 1%;">Here are the reasons why eating too much sugar is bad for your health.</div>
        </div>
        </div>


        <section class="latest_news_area p_100 text-center" style=" padding-top: 0px;padding-bottom: 4%;">
            <div class="container" style="background-color: white; border-radius: 5px;">
                @*<div class="b_center_title">
                    <h2>Why Too Much Sugar Is Bad for You??</h2>
                    <p>Here are the reasons why eating too much sugar is bad for your health.</p>
                </div>*@

                <div class="l_news_inner" style="margin-top: 5%;">
                    <div class="row">

                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item" id="portfoliolist">
                                <div class="l_news_img"><a href="#dia1" class="popup-with-zoom-anim"><img class="img-fluid" src="~/img/Disease/disease1.jpg" alt="" style="height: 200px; width: 100%;"></a></div>
                                <div class="l_news_content">
                                    <a href="#dia1" class="popup-with-zoom-anim"><h4>Cause Weight Gain</h4></a>
                                    <p>Consuming too much added sugar from sugary beverages increases your risk of weight gain and can lead to visceral fat accumulation.</p>
                                    <a class="more_btn popup-with-zoom-anim" href="#dia1">Learn More</a>
                                </div>
                            </div>
                        </div>

                        <div id="dia1" class="mfp-hide small-dialog">
                            <div class="pop_up">
                                <h2>Take in too much sugar can cause weight gain</h2>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-info">
                                        Rates of obesity are rising worldwide and added sugar, especially from sugar-sweetened beverages, is thought to be one of the main culprits.
                                        Sugar-sweetened drinks like sodas, juices and sweet teas are loaded with fructose, a type of simple sugar.
                                    </li>
                                    <li class="list-group-item list-group-item-success">
                                        Consuming fructose increases your hunger and desire for food more than glucose, the main type of sugar found in starchy foods.
                                        Additionally, excessive fructose consumption may cause resistance to leptin, an important hormone that regulates hunger and tells your body to stop eating.
                                    </li>
                                    <li class="list-group-item list-group-item-info">
                                        In other words, sugary beverages don’t curb your hunger, making it easy to quickly consume a high number of liquid calories. This can lead to weight gain.
                                        Research has consistently shown that people who drink sugary beverages, such as soda and juice, weigh more than people who don’t.
                                    </li>
                                    <li class="list-group-item list-group-item-success"> Also, drinking a lot of sugar-sweetened beverages is linked to an increased amount of visceral fat, a kind of deep belly fat associated with conditions like diabetes and heart disease.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item" id="portfoliolist">
                                <div class="l_news_img"><a href="#dia2" class="popup-with-zoom-anim"><img class="img-fluid" src="~/img/Disease/disease2.jpg" alt="" style="height: 200px; width: 100%;"></a></div>
                                <div class="l_news_content">
                                    <a href="#dia2" class="popup-with-zoom-anim"><h4>Risk of Heart Disease</h4></a>
                                    <p>Consuming too much added sugar increases heart disease with risk factors such as obesity, high blood pressure and inflammation.</p>
                                    <a class="more_btn popup-with-zoom-anim" href="#dia2">Learn More</a>
                                </div>
                            </div>
                        </div>

                        <div id="dia2" class="mfp-hide small-dialog">
                            <div class="pop_up">
                                <h2>Take in too much sugar may increase your risk of heart disease</h2>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-info">
                                        Consuming too much added sugar increases heart disease risk factors such as obesity, high blood pressure and inflammation. High-sugar diets have been linked to an increased risk of dying from heart disease.
                                    </li>
                                    <li class="list-group-item list-group-item-success">
                                        High-sugar diets have been associated with an increased risk of many diseases, including heart disease, the number one cause of death worldwide.
                                        Evidence suggests that high-sugar diets can lead to obesity, inflammation and high triglyceride, blood sugar and blood pressure levels — all risk factors for heart disease.
                                    </li>
                                    <li class="list-group-item list-group-item-info">
                                        Additionally, consuming too much sugar, especially from sugar-sweetened drinks, has been linked to atherosclerosis, a disease characterized by fatty, artery-clogging deposits.
                                    </li>
                                    <li class="list-group-item list-group-item-success">
                                        Just one 16-ounce (473-ml) can of soda contains 52 grams of sugar, which equates to more than 10% of your daily calorie consumption, based on a 2,000-calorie diet.
                                        This means that one sugary drink a day can already put you over the recommended daily intake for added sugar.
                                    </li>
                                </ul>

                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item" id="portfoliolist">
                                <div class="l_news_img"><a href="#dia3" class="popup-with-zoom-anim"><img class="img-fluid" src="~/img/Disease/disease3.jpg" alt="" style="height: 200px; width: 100%;"></a></div>
                                <div class="l_news_content">
                                    <a href="#dia3" class="popup-with-zoom-anim"><h4>Risk of Diabetes</h4></a>
                                    <p>A high-sugar diet may lead to obesity and insulin resistance, both of which are risk factors for diabet people and make more harms to your kids.</p>
                                    <a class="more_btn popup-with-zoom-anim" href="#dia3">Learn More</a>
                                </div>
                            </div>
                        </div>

                        <div id="dia3" class="mfp-hide small-dialog">
                            <div class="pop_up">
                                <h2>Take in too much sugar may increase your risk of heart diabetes</h2>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-info">
                                        The worldwide prevalence of diabetes has more than doubled over the past 30 years.
                                        Though there are many reasons for this, there is a clear link between excessive sugar consumption and diabetes risk.
                                    </li>
                                    <li class="list-group-item list-group-item-success">
                                        Obesity, which is often caused by consuming too much sugar, is considered the strongest  risk factor for diabetes).
                                        What’s more, prolonged high-sugar consumption drives resistance to insulin, a hormone produced by the pancreas that regulates blood sugar levels.
                                    </li>
                                    <li class="list-group-item list-group-item-info">
                                        Insulin resistance causes blood sugar levels to rise and strongly increases your risk of diabetes.
                                        A population study comprising over 175 countries found that the risk of developing diabetes grew by 1.1% for every 150 calories of sugar, or about one can of soda, consumed per day.
                                    </li>
                                    <li class="list-group-item list-group-item-success">
                                        Other studies have also shown that people who drink sugar-sweetened beverages, including fruit juice, are more likely to develop diabetes.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin-top: 3%;">

                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item" id="portfoliolist">
                                <div class="l_news_img"><a href="#dia4" class="popup-with-zoom-anim"><img class="img-fluid" src="~/img/Disease/disease4.jpg" alt="" style="height: 200px; width: 100%;"></a></div>
                                <div class="l_news_content">
                                    <a href="#dia4" class="popup-with-zoom-anim"><h4>Risk of Cancer</h4></a>
                                    <p>Too much sugar can lead to obesity and insulin resistance, all of which are risk factors for cancer indirectly.</p>
                                    <a class="more_btn popup-with-zoom-anim" href="#dia4">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div id="dia4" class="mfp-hide small-dialog">
                            <div class="pop_up">
                                <h2>Take in too much sugar may increase your risk of cancers</h2>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-info">
                                        Too much sugar can lead to obesity and insulin resistance, all of which are risk factors for cancer.
                                        Eating excessive amounts of sugar may increase your risk of developing certain cancers.
                                    </li>
                                    <li class="list-group-item list-group-item-success">
                                        First, a diet rich in sugary foods and beverages can lead to obesity, which significantly raises your risk of cancer.
                                        Furthermore, diets high in sugar increase inflammation in your body and may cause insulin resistance, both of which increase cancer risk.

                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item" id="portfoliolist">
                                <div class="l_news_img"><a href="#dia5" class="popup-with-zoom-anim"><img class="img-fluid" src="~/img/Disease/disease5.jpg" alt="" style="height: 200px; width: 100%;"></a></div>
                                <div class="l_news_content">
                                    <a href="#dia5" class="popup-with-zoom-anim"><h4>Drains Your Energy</h4></a>
                                    <p>High-sugar food can negatively impact your energy levels by causing a spike in blood sugar followed by a crash.</p>
                                    <a class="more_btn popup-with-zoom-anim" href="#dia5">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div id="dia5" class="mfp-hide small-dialog">
                            <div class="pop_up">
                                <h2>Take in too much sugar may drain your energy</h2>
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-info">
                                        Foods high in added sugar quickly spike blood sugar and insulin levels, leading to increased energy.
                                        Products that are loaded with sugar but lacking in protein, fibre or fat lead to a brief energy boost that’s quickly followed by a sharp drop in blood sugar, often referred to as a crash.
                                    </li>
                                    <li class="list-group-item list-group-item-success">
                                        Having constant blood sugar swings can lead to major fluctuations in energy levels. To avoid this energy draining cycle, choose carb sources that are low in added sugar and rich in fibre.
                                    </li>
                                    <li class="list-group-item list-group-item-info">
                                        Pairing carbs with protein or fat is another great way to keep your blood sugar and energy level stable.
                                        For example, eating an apple along with a small handful of almonds is an excellent snack for prolonged, consistent energy levels
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item" id="portfoliolist">
                                <div class="l_news_img"><a href="#dia6" class="popup-with-zoom-anim"><img class="img-fluid" src="~/img/Disease/disease6.jpg" alt="" style="height: 200px; width: 100%;"></a></div>
                                <div class="l_news_content">
                                    <a href="#dia6" class="popup-with-zoom-anim"><h4>Other Health Risks</h4></a>
                                    <p>Consuming too much sugar worsen cognitive ability and affect immune function harm your kidneys.</p>
                                    <a class="more_btn popup-with-zoom-anim" href="#dia6">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div id="dia6" class="mfp-hide small-dialog">
                            <div class="pop_up">
                                <h2>Take in too much sugar may cause other health risks</h2>
                                <p>

                                    <ul class="list-group list-unstyled">
                                        <li class="list-group-item list-group-item-info">Increase kidney disease disk: Having consistently high blood sugar levels can cause damage to the delicate blood vessels in your kidneys. This can lead to an increased risk of kidney disease.</li>
                                        <li class="list-group-item list-group-item-success">Negatively impact dental health: Eating too much sugar can cause cavities. Bacteria in your mouth feed on sugar and release acid by products, which cause tooth demineralization.</li>
                                        <li class="list-group-item list-group-item-info">Increase the risk of developing gout:  Gout is an inflammatory condition characterized by pain in the joints. Added sugars raise uric acid levels in the blood, increasing the risk of developing or worsening gout.</li>
                                        <li class="list-group-item list-group-item-success">Accelerate cognitive decline: High-sugar diets can lead to impaired memory and have been linked to an increased risk of dementia.</li>
                                        <li class="list-group-item list-group-item-info">immune function can be affected by sugar: studies have shown that sugar can interfere with the way your body fights disease.5 Bacteria and yeast feed on sugar, so excess glucose in the body causes these organisms to build up and cause infections.</li>
                                    </ul>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%;">
                        <button class="btn btn-default orange-circle-button" id="showDiagram">Related<br />Statistics<br /><span class="orange-circle-greater-than">></span></button>
                    </div>

                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%;">
                        <button class="btn btn-default orange-circle-button" onclick="showObese()">Obese<br />&<br />Overweight<br /><span class="orange-circle-greater-than">></span></button>
                    </div>
                </div>

            </div>
        </section>
</section>
<script>
    $(document).ready(function () {
        $("#showDiagram").click(function () {
            window.location.href = "/Home/FactDiagram";
        })
    })
</script>