﻿
@{
    ViewBag.Title = "Facts";
    Session["url"] = "Home/Disease";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/FactDiagram.css" rel="stylesheet" />
<section class="banner_area">
   
    <div class="container banner_text_inner" style="padding-top: 6%;padding-bottom: 4%;">
        <div style=" background-color: rgba(0, 0, 0, 0.5); padding-top: 2%; padding-bottom: 2%;border-radius: 10px;">
            <h4>Why Too Much Sugar Is Bad for You??</h4>
            <div style="color: white; font-size:large; margin-bottom: 1%; margin-top: 1%;">Here are the reasons why eating too much sugar is bad for your health.</div>
        </div>
        </div>


        <section class="latest_news_area p_100 text-center" style="padding-top: 0px;padding-bottom: 2%; border-radius:10px;">
            <div class="container" style="background-color: white; border-radius: 5px; padding-top: 3%;">
                <div class="row">
                    <button onclick="goToDiagram('Diagram1')" class="btn btn-primary style-button"><span class="fa fa-bar-chart"></span>Kids Obese Proportion</button>&nbsp;&nbsp;
                    <button onclick="goToDiagram('Diagram2')" class="btn btn-primary style-button"><span class="fa fa-bar-chart"></span>Kids Overweight Proportion</button>&nbsp;&nbsp;
                    <button onclick="goToDiagram('Diagram3')" class="btn btn-primary style-button"><span class="fa fa-pie-chart"></span>States Kids Obese Proportion</button>
                </div>
                <hr />

                @*<a class="portfolio-link" data-toggle="modal" href="#data-explan">
                    <div class="card" style="margin-left: 20%; width: 60%">
                        <div class="card-body" style="background-color: #34495E; color: white">
                            aa
                        </div>
                    </div>
                </a>*@

                <div id="diagramArea">

                </div>
                <div class="row">
                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%;">
                        <button class="btn btn-default orange-circle-button" onclick="showFact()">Disease<br />Page<br /><span class="orange-circle-greater-than"><</span></button>
                    </div>

                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%;">
                        <button class="btn btn-default orange-circle-button" onclick="showObese()">Obese<br />&<br />Overweight<br /><span class="orange-circle-greater-than">></span></button>
                    </div>
                </div>
            </div>
        </section>
</section>

@*<div class="portfolio-modal modal fade" id="data-explan" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%; margin-right: 10%;">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>*@


<script type='text/javascript'>


    $("#diagramArea").load("/Home/Diagram1");

    var goToDiagram = function (diagramName) {
        $("#diagramArea").load("/Home/" + diagramName);
    }

    var showFact = function () {
        window.location.href = "/Home/Disease";
    }

    var showObese = function () {
        window.location.href = "/Home/ObesePage";
    }

   
</script>


