﻿@{ 

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SugarBattle</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/firstpage.css" rel="stylesheet" />
</head>
<body>
    <div id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 home">
                    <h1 style="font-size: 60px; font-family:'Microsoft YaHei';">We are Together</h1>
                    <h2 style="font-size: 60px;">Sugar Battle for Your Kids</h2>
                    <a href="/Home/Index" class="smoothScroll btn btn-default">Start Journey</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $(".main_menu_area").hide();
        $(".footer_area").hide();
        $(".copy_right_area").hide();
        $(".home").hide();
        $(".home").slideDown(1500);
    })
</script>
