﻿@{
    ViewBag.Title = "Sugarbattle";
    Session["url"] = "Home/Index";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<div>
  
    <section class="hero" id="hero">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
     
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        
            <div class="carousel-inner">
                <div class="item active">
                    <img src="../img/Home/banner_pic3.jpg" style="max-width:100%;"/>
                    <div class="container" style="padding-left: 0;">
                        <div class="text-center banner-word" style="background: rgba(0, 0, 0, .15); color: white; position:absolute;border-radius: 3px; padding: 1%;"><h1 class="banner-text" >Do You Know How Much Sugar Your Kids Eat Every Day</h1>
                                 <a class="btn btn-xl text-uppercase js-scroll-trigger scroll-down" href="#calculatePart"><i class="fa fa-angle-double-down"></i></a>
                        </div>
                        
                    </div>
                </div>
                <div class="item">
                    <img src="../img/Home/banner_pic2.jpg" style="width:100%; height: auto; display:block;" />
                    <div class="container" style="padding-left: 0px;">
                        <div class="text-center banner-word" style="background: rgba(0, 0, 0, .15); color: white; position:absolute; border-radius: 3px; padding: 1%;">
                            <h1 class="banner-text">Do You Know the Risks of Sugar for Your Kids</h1>
                            <a class="btn btn-xl text-uppercase js-scroll-trigger scroll-down" href="#calculatePart"><i class="fa fa-angle-double-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../img/Home/banner_pic1.jpg" style="width:100%; height: auto; display:block;" />
                    <div class="container"  style="padding-left: 0px">
                        <div class="text-center banner-word" style="background: rgba(0, 0, 0, .15); color: white; position:absolute;border-radius: 3px; padding: 1%;">
                            <h1 class="banner-text">How Often do You Spend Time Playing with Your Kids</h1>
                            <a class="btn btn-xl text-uppercase js-scroll-trigger scroll-down" href="#calculatePart"><i class="fa fa-angle-double-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section class="creative_feature_area" id="calculatePart">
        <div class="container" style="height: 80%;">
            <div class="c_feature_box">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="c_box_item">
                            <h4><i class="fas fa-question-circle" aria-hidden="true"></i>Issues For Kids</h4>
                            <p>According to research, one in four children (aged 2-14) in Australia were overweight or obesity in 2014 - 2015. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="c_box_item">
                            <h4><i class="fas fa-sad-tear" aria-hidden="true"></i> Sugar Information</h4>
                            <p>
                                There are 16 teaspoons of sugar in 1 bottle of regular soft drink. 1 Teaspoon = 4 grams of sugar. Use our sugar calculator to know your sugar intake.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="c_box_item">
                            <h4><i class="fas fa-thumbs-up" aria-hidden="true"></i> Sugar Suggestion</h4>
                            <p>It is suggested that children from 2 -18 to have less than 25 grams or 6 teaspoons of added sugars every day. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="digital_feature p_100">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d_feature_text">
                            <div class="main_title">
                                <h2>Are you ready <br /> to make small changes for healthy gains?</h2>
                            </div>
                            <p>We will give you choice to have your own diets with accurate sugar calculation.</p>
                            <a class="read_btn" style="width: inherit;" href="/DailyPlan/CalculateSugar">Try Sugar Intake Calculator</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d_feature_img">
                            <img src="../img/Home/home_pic1.jpg" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-xl text-uppercase js-scroll-trigger scroll-down" href="#service_area"><i class="fa fa-angle-double-down"></i></a>
                </div>
            </div>
       
        </div>
    </section>

    <section class="service_area" id="service_area">
        <div class="container">
            <div class="center_title">
                <h2>Our Services</h2>
                <p>We want you to make a difference to your life.</p>
            </div>
            <div class="row service_item_inner">
                <div class="col-lg-4" onclick="toLocationPage()">
                    <div class="service_item">
                        <i class="ti-desktop"></i>
                        <h4>Location Finding</h4>
                        <img src="~/img/Home/index_location_pic.jpg" alt="index_location" width="350" height="200" style="margin-top: 5%; margin-bottom: 5%;" class="cards" />
                        <p>We provide the service to find recreation locations on the map around you.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_item" id="toDailyPlan">
                        <i class="ti-announcement"></i>
                        <h4>Sugar Calculation</h4>
                        <img src="~/img/16 in 1.png" alt="team-logo" width="350" height="200" class="cards" style="margin-top: 5%; margin-bottom: 5%;" />
                        <p>We would provide a sugar calculation for you and youe kids to know how much sugar you eat today.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_item" id="toRecipePage">
                        <i class="ti-announcement"></i>
                        <h4>Recipe Recommendation</h4>
                        <img src="~/img/Home/index_pic_right.jpeg" alt="team-logo" width="350" height="200" class="cards" style="margin-top: 5%; margin-bottom: 5%;" />
                        <p>We would provide many healthy low-sugar recipes for your kids.</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-xl text-uppercase js-scroll-trigger scroll-down" href="#disease-part"><i class="fa fa-angle-double-down"></i></a>
            </div>
        </div>
    </section>
    <section class="testimonials_area p_100" id="disease-part">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="testimonials_slider owl-carousel">
                    <div class="item">
                        <div class="media">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <img class="d-flex img-circle" src="~/img/Disease/kid-disease.jpg" alt="" style="width: 160px;height: 150px; border: groove; margin-left: 25%;">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                <div class="media-body">

                                    <p>
                                        Many people rely on quick, processed foods for meals and snacks. Since these products often contain added sugar, it makes up a large proportion of their daily calorie intake.
                                        <br />Dietary guidelines suggest limiting calories from added sugar to less than 10% per day. Experts believe that sugar consumption is a major cause of obesity and many chronic diseases, such as diabetes.
                                    </p>
                                    <a class="read_btn" href="/Home/Disease" style="width: 30%">Learn More About Sugar Diseases</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</section>

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/agency.min.js"></script>

<script>
    $(document).ready(function () {

        $("#toDailyPlan").click(function () {
            window.location.href = "/DailyPlan/CalculateSugar";
        });

        $("#toRecipePage").click(function () {
            window.location.href = "/Recipies/Index";
        });
    })

    var toLocationPage = function () {
        window.location.href = "/Location/Index";
    }
</script>
