﻿
@{
    ViewBag.Title = "ObesePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/FactDiagram.css" rel="stylesheet" />
<section class="banner_area">

    <div class="container banner_text_inner" style="padding-top: 6%; padding-bottom: 4%;">
        <div style=" background-color: rgba(0, 0, 0, 0.5); padding-top: 2%; padding-bottom: 2%;border-radius: 10px;">
            <h4>How to Differentiate Overweight and Obesity?</h4>
            <div style="color: white; font-size:large; margin-bottom: 1%; margin-top: 1%; width: 60%; margin-left: 20%;">Here is information about overweight and obesity </div>
        </div>
        </div>


        <section class="latest_news_area p_100" style=" padding-top: 0px;padding-bottom: 2%; ">
            <div class="container" style="background-color: white; padding-top: 3%; padding-left: 5%; padding-right: 5%; border-radius: 10px;">
                <div class="row">
                    <h3>Overweight and obesity</h3>
                    <hr />

                    <div class="col-md-8" style="font-size: large">
                        BMI, which is known as Body mass index, is used to clarify overweight and obesity. In addition, BMI is utilized to determine whether you are in a healthy weight range for your height. People with BMI ranged from 25 to 30 can be classified as overweight but not obesity. People whose BMI is greater than 30 can be seen as obesity. Although BMI is a good method to check whether people are overweight or obese or not, it is a different situation to children. The demarcation line to determine whether a child is obese, or overweight is very unclear. The average situation of BMI to classify whether children or adolescents are obese, or overweight is shown as the table below.
                    </div>
                    <div class="col-md-4 text-center" style="padding-top: 1%">
                        <img src="~/img/Disease/obese_pic.jpg" style="width: 90%;" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <h3>Calculate BMI for your children</h3>
                    <hr />
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="panel panel-success" style=" border-color: #008000;">
                                <div class="panel-heading text-center" style="background-color: #008000; color: white; font-weight: 800">
                                    <h4>BMI Calculator</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row" style="margin-bottom: 5%;">
                                        <div class="col-xs-1 col-sm-1"></div>
                                        <div class="col-xs-3 col-sm-3">
                                            <span>Height</span>

                                        </div>
                                        <div class="col-xs-3 col-sm-7">
                                            <input type="text" id="height" style="width:80%;border-radius: 4px 0 0 4px;" /><span class="add-on">cm</span>
                                        </div>
                                        <div class="col-xs-1 col-sm-1"></div>
                                    </div>
                                    <div class="row" style="margin-bottom: 5%;">
                                        <div class="col-xs-1 col-sm-1"></div>
                                        <div class="col-xs-3 col-sm-3">
                                            <span style="margin-top: 5%;">Weight</span>
                                        </div>
                                        <div class="col-xs-3 col-sm-7">
                                            <input type="text" id="weight" style="width:80%;border-radius: 4px 0 0 4px;" /><span class="add-on">kg</span>
                                        </div>
                                        <div class="col-xs-1 col-sm-1"></div>
                                    </div>
                                    <div class="row text-center">

                                        <button class="btn btn-success" onclick="calculateBMI()">Calculate BMI</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <div class="img-circle text-center" style="background-color:#008000; width:200px; height:200px; display:inline-block;">
                                <div style="color: white; font-size: x-large; margin-top: 35%;">
                                    BMI Result:<br />
                                    <span id="result"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <h3>Classification of overweight and obesity for children and adolescents</h3>
                    <hr />
                    <TABLE class="table table-bordered table-responsive table-condensed table-striped" style="width: 100%;" ralign="center" cellpadding=3 cellspacing=0 summary="this table contains classification of overweight and obesity for children and adolescents">
                        <TR>
                            <TD width="20%" valign="TOP" rowspan=2 height=1> <P>Age (years)</TD>
                            <TD width="40%" valign="TOP" colspan=2 height=1> <P>BMI equivalent to 25 in adult</TD>
                            <TD width="40%" valign="TOP" colspan=2 height=1> <P>BMI equivalent to 30 in adults</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">Males</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">Females</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">Males</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">Females</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>2</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">18.41</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">18.02</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.09</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.81</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>2.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">18.13</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.76</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.80</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.55</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>3</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.89</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.56</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.57</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.36</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>3.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.69</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.40</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.39</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.23</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>4</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.55</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.28</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.29</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.15</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>4.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.47</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.19</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.26</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.12</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.42</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.15</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.30</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.17</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>5.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.45</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.20</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.47</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.34</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>6</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.55</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.34</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.78</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.65</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>6.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.71</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.53</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.23</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.08</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>7</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.92</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">17.75</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.63</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.51</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>7.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">18.16</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">18.03</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">21.09</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">21.01</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>8</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">18.44</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">18.35</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">21.60</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">21.57</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>8.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">18.76</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">18.69</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.17</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.18</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>9</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.10</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.07</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.77</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.81</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>9.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.46</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.45</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">23.39</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">23.46</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>10</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.84</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">19.86</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.00</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.11</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>10.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.20</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.29</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.57</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.77</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>11</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.55</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.74</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">25.10</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">25.42</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>11.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">20.89</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">21.20</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">25.58</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">26.05</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>12</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">21.22</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">21.68</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">26.02</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">26.67</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>12.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">21.56</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.14</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">26.43</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">27.24</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>13</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">21.91</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.58</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">26.84</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">27.76</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>13.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.27</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.98</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">27.25</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">28.20</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>14</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.62</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">23.34</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">27.63</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">28.57</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>14.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">22.96</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">23.66</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">27.98</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">28.87</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>15</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">23.29</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">23.94</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">28.30</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">29.11</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>15.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">23.60</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.17</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">28.60</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">29.29</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>16</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">23.90</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.37</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">28.88</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">29.43</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>16.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.19</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.54</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">29.14</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">29.56</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>17</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.46</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.70</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">29.41</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">29.69</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>17.5</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.73</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">24.85</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">29.70</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">29.84</TD>
                        </TR>
                        <TR>
                            <TD width="20%" valign="TOP" height=1> <P>18</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">25.00</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">25.00</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">30.00</TD>
                            <TD width="20%" valign="TOP" height=1> <P align="RIGHT">30.00</TD>
                        </TR>
                    </TABLE>
                </div>
                <hr />
                <div class="row text-center">
                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%;">
                        <button class="btn btn-default orange-circle-button" onclick="showFact()">Disease<br />Page<br /><span class="orange-circle-greater-than"><</span></button>
                    </div>

                    <div class="col-md-6" style="padding-top: 2%; padding-bottom: 2%;">
                        <button class="btn btn-default orange-circle-button" id="showDiagram" onclick="showDiagram()">Related<br />Statistics<br /><span class="orange-circle-greater-than"><</span></button>
                    </div>


                </div>
            </div>
        </section>
</section>
<script>
    $(document).ready(function () {
        $(".img-circle").hide();
    })

    var calculateBMI = function () {
        var height = $("#height").val();
        var weight = $("#weight").val();

        var result = parseInt(weight) * 100 * 100 / (parseInt(height) * parseInt(height));
        var result = new Number(result).toFixed(2);
        $("#result").text(result);

        $(".img-circle").fadeIn();
    }

    var showFact = function () {
        window.location.href = "/Home/Disease";
    }

    var showDiagram = function () {
        window.location.href = "/Home/FactDiagram";
    }
</script>