﻿@model IEnumerable<SugarBattle.Models.Location>
@{
    ViewBag.Title = "Location";
    Session["url"] = "Location/Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCqSo96IjhzpDel3qrdv7iyY3QIj8kO3YY&language=en&region=au"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/location.css" rel="stylesheet" />
<section class="banner_area" style="padding-bottom: 5%;">
    <div class="container">
        <div class="banner_text_inner" style="padding-top: 8%;padding-bottom: 4%;">
            <div style=" background-color: rgba(0, 0, 0, 0.5); padding-top: 1%; padding-bottom: 1%;border-radius: 10px;">
                <h4>Find Places For Your Kids to Play</h4>
                <ul>
                    <li style="color: white; font-size:large; margin-bottom: 0.5%;">Step 1 - Search Location</li>
                    <li style="color: white; font-size:large;margin-bottom: 0.5%;">Step 2 - Choose Places</li>
                    <li style="color: white; font-size:large;">Step 3 - Add to Calendar</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div>
        <div class="container" style="background-color: white; padding-top: 30px; border-radius: 10px;">
            <ul id="sub-navbar" class="text-center" style="margin-bottom: 30px;">
                <li style="display: inline-block"><a href="/Location/Index" class="subnav" data-text="Location Find"></a></li>
                @if (Session["user"] == null)
                {
                    <li style="display: inline-block"><a href="#" class="subnav" data-text="My Activities" data-toggle="modal" data-target="#loginModal"></a></li>
                }
                else
                {
                    <li style="display: inline-block"><a href="#" onclick="goCalendar()" class="subnav" data-text="My Activities"></a></li>
                }
            </ul>
            <div id="weather2" style="margin-bottom: 2%;">@Html.Partial("WeatherForecast")</div>
            <div class="row" id="locationArea">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color:#34495E; color: white">Top 10 Nearest Parks/Playgrounds You</div>
                        <div class="panel-body" id="locationList" style="height: 100%;">

                        </div>
                    </div>
                </div>


                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div id="map-dialog">
                        <div id="fordragging">
                            <input id="pac-input" class="" type="text" placeholder="Search for keywords" style="width: 100%;height: 40px; font-size: 15px; padding-left: 10px;" />
                        </div>
                        <div id="activity-map" style="height:820px; width: 100%; overflow: hidden;"></div>
                    </div>
              
                </div>
            </div>
            <div class="modal fade" id="loginModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background: linear-gradient(to bottom, grey, #383838); color:white; height: 80px; padding-top: 1%">
                            <a href="#" class="close" data-dismiss="modal">&times</a>
                            <h2>Information Tips</h2>
                        </div>
                        <div class="modal-body">
                            <h3 style=" line-height: 40px">You can have your activities tracking after you log in</h3>
                        </div>
                        <div class="modal-footer">
                            <a href="/Account/Login" class="btn btn-success">Login Now</a>
                            <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="addActivityModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" class="close" data-dismiss="modal" onclick="closeModal()">&times;</a>
                            <h3 class="modal-title">Add Activity To My Calendar</h3>
                        </div>
                        <div class="modal-body" style="padding: 5%;">
                            <input type="text" id="ActivityId" hidden="hidden" />
                            <input type="text" id="LocationId" hidden="hidden" />
                            <div class="form-group">
                                <label for="Name">Location Name: </label>
                                <div id="Name"></div>
                            </div>
                            <div class="form-group">
                                <label for="situation">Location Situation: </label>
                                <div id="situation"></div>
                            </div>
                            <div class="form-group">
                                <label for="time">Choose Activity Date</label>
                                <div class="input-group date" id="time">
                                    <input type="text" class="form-control" id="activityTime" />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">

                                        <label for="start">Choose Start Datetime: </label>
                                        <div class="input-group" id="start">
                                            <input type="text" class="form-control" id="activityStart" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>




                                        @*<input class="form-control" type="text" id="activityTime" />*@
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="end">Choose End Datetime: </label>
                                        <div class="input-group" id="end">
                                            <input type="text" class="form-control" id="activityEnd" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                        @*<label for="activityTime">Choose Time: </label><br />
                                    <span> from </span>
                                    <input class="" type="time" id="activityStart" />
                                    <span> to </span>
                                    <input class="" type="time" id="activityEnd" />*@
                                        <div id="error"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="activityDesc">Activity Description: </label>
                                    <textarea class="form-control" rows="5" cols="30" id="activityDesc" style="resize: none"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="cancel_button" onclick="cancelActivity()" style="display: none;">Cancel Activity</button>
                            <button type="button" class="btn btn-success" onclick="submitActivity()">Save Activity</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        @*<div class="container" style="background-color: white;  padding-bottom: 3%;">
                <hr />

                    @{ Html.RenderAction("UserCalendar"); }

            </div>*@
    </div>
</section>
<table class="table-bordered" style="display: none">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Long</th>
            <th>Att</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr class="locations">
                    <td class="locationId">@item.Id</td>
                    <td class="name">@item.Name</td>
                    <td class="desc">@item.Description</td>
                    <td class="latitude">@item.Latitude</td>
                    <td class="longtitude">@item.Longitude</td>
                    <td class="locationType">@item.locationType</td>
                </tr>
            }
        }
    </tbody>
</table>
<script src="~/Scripts/bootstrap-notify.js"></script>
<script src="~/Scripts/bootstrap-notify.min.js"></script>
<script src="~/Scripts/location.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script>
    $(document).ready(function () {
  
        if ("@ViewData["GoCalendar"]" == "true") {
            $("#locationArea").load("/Location/UserCalendar");
        }

        $("#time").datetimepicker({
            format: 'YYYY/M/D'
        });

        $("#start").datetimepicker({
            format: 'H:mm'
        });

        $("#end").datetimepicker({
            format: 'H:mm',
            useCurrent: false
        });

        $("#time").on("dp.change", function (e) {
            $("#time").data("DateTimePicker").minDate(new Date());
        });

        $("#start").on("dp.change", function (e) {
            $("#end").data("DateTimePicker").minDate(e.date);
        });

        $("#end").on("dp.change", function (e) {
            $("#start").data("DateTimePicker").maxDate(e.date);
        });

        //var curDate = new Date();
        //$("#activityTime").datepicker({
        //    minView: 2,
        //    autoClose: 1,
        //    startView: 3,
        //    format: 'yyyy/m/d',
        //    startDate: new Date(curDate.getTime() - 24 * 60 * 60 * 1000)
        //});
    })

    var goCalendar = function () {
        $("#locationArea").load("/Location/UserCalendar");
    }

    var addActivity = function (locationId) {
        $.ajax({
            type: "POST",
            url: "/Location/ShowLocation",
            data: { LocationId: locationId },
            success: function (response) {
                if (response == "false") {
                    $("#loginModal").modal("show");

                } else {
                    $("#LocationId").val(response.LocationId);
                    $("#Name").text(response.LocationName);
                    $("#activityTime").val("");
                    $("#activityStart").val("");
                    $("#activityEnd").val("");
                    $("#situation").text(response.LocationDescription);
                    $("#addActivityModal").modal("show");
                }
            }
        })

    };

    var closeModal = function () {
        $("#cancel_button").hide();
    }
</script>
