﻿@model IEnumerable<SugarBattle.Models.Location>
@{
    Layout = null;
}

<div class="list-group filter-wrap">

    @if (Model != null)
    {
        foreach (var item in Model)
        {
    <article class="list-group-item" onclick="getMarkInf('@item.Id','@item.Name','@item.Description')">
        <header class="filter-header">
            <a onclick="getMarkInf('@item.Id','@item.Name','@item.Description')" style="width: 100%; color:#2bc0a4; cursor: pointer">@item.Name</a>
        </header>
        <div class="filter-content collapse show" id="collapse1" style="">
            <ul>
                <li>Location: @item.Description</li>
            </ul>
        </div>


    </article>


   }
}
</div>
<script>
    $(document).ready(function () {
        $(".list-group-item").each(function () {
            $(this).click(function () {
                $(".list-group-item").each(function () {
                    $(this).removeClass("active");
                    $(this).css("background-color", "white");
                })
                $(this).addClass("active");
                $(this).css("background-color", "rgba(0,0,0,0.1)");
                $(this).css("color", "black");
                $(this).css("border-color", "rgba(0,0,0,0.1)");
            })
        })
    })
</script>