﻿@model IEnumerable<SugarBattle.Models.UserCalendarViewModel>

<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="~/Content/usercalendar.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>
<script>
    $(document).ready(function () {
        var activities = [];
        $(".activities").each(function () {
            var title = $(".title", this).text().trim();
            var start = $(".start", this).text().trim();
            var end = $(".end", this).text().trim();
            var Desc = $(".desc", this).text().trim();
            var Type = $(".type", this).text().trim();
            var colorClass = "";
            if (Type == "Playground") {
                colorClass = 'bg-info';
            } else if(Type == "Park"){
                colorClass = 'bg-success';
            }
            
            var id = $(this).attr("id");
            
            
            var activity = {
                desc: Desc,
                title: title,
                start: start,
                end: end,
                activityId: id,
                allDay: false,
                className: colorClass
            };
            activities.push(activity);
        });
        

        $("#calendar").fullCalendar({
            header: {
                left: 'title',
                center: 'agendaDay,agendaWeek,month',
                right: 'prev,next today'
            },
            selectable: true,
            firstDay: 1,
            defaultView: 'month',

            axisFormat: 'h:mm',

            allDaySlot: false,
            selectHelper: true,
            select: function (start, end, allDay) {
                //action when choose date
            },

            dayClick: function (date, jsEvent, view) {
                var dateEvent = [];
                $('#calendar').fullCalendar('clientEvents', function (event) {
                    var eventStart = event.start.format('YYYY/M/D');
                    var eventEnd = event.end;
                    if (eventStart == date.format('YYYY/M/D')) {
                        dateEvent.push(event);
                    }
                    $(this).css('background-color', 'red');
                });
                $(".activity-body").text("");
                $(".activity-heading").text("");
                $(".activity-heading").append("<h4 style='margin-top:0px; margin-bottom:0px'>" + date.format('MMM D YYYY') + " Activities</h3>")
                if (dateEvent.length != 0) {
                    for (var i = 0; i < dateEvent.length; i++){
                        $(".activity-body").append("<div class='row'><div class='col-xs-10'>"
                            + "<div><h4>Time: " + dateEvent[i].start.format('HH:mm') + " to " + dateEvent[i].end.format('HH:mm') + "</h4></div>"
                            + "<div><label>Place: </label>" + dateEvent[i].title + "</div>"
                            + "<div style='word-wrap: break-word;'><label>Desc: </label>" + dateEvent[i].desc + "</div>"
                            + "</div>"
                            + "<div class='col-xs-1'><a href='#' class='text-danger' onclick='editActivity(" + dateEvent[i].activityId + ")' style='font-size: large;'><span class='glyphicon glyphicon-edit'></span></a></div>"
                            + "</div>");
                        $(".activity-body").append("<hr />");
                    }
                } else {
                    $(".activity-body").append("<div>No Activity On This Day</div>");
                }
            },

            locale: 'au',
            events: activities,
            allDay: true,
            selectHelper: true,

            selectHelper: true,
            eventClick: function (calEvent, jsEvent, view) {
                editActivity(calEvent.activityId);
            },
        });
    })

    var editActivity = function (activityId) {
        $("#cancel_button").show();

        $.ajax({
            type: "POST",
            url: "/Location/EditActivity",
            data: { ID: activityId },
            success: function (response) {
                $(".modal-title").text("My Activity");
                $("#ActivityId").val(activityId);
                $("#LocationId").val(response.LocationId);
                $("#Name").text(response.LocationName);
                $("#situation").text(response.LocationDescription);
                $("#activityDesc").val(response.Description);
                $("#activityTime").val(response.LocationDate);
                $("#activityStart").val(response.LocationStart);
                $("#activityEnd").val(response.LocationEnd);
                $("#addActivityModal").modal("show");
            }
        })
    }
    
</script>
<div>
    <div class="col-md-8" id="calendarPart">
        <div id="calendar" style="margin-bottom: 5%; background-color: rgba(255,255,255,0.05); padding: 1%; box-shadow: 2px 2px 2px 2px #808080; border-radius: 0.5%;"></div>
        <div>
            <table class="table" style="display: none;">
                <tr>
                    <th>
                        Activity
                    </th>
                    <th>
                        Activity Date
                    </th>
                    <th></th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr class="activities" id="@item.Id">
                            <td class="title">
                                @Html.DisplayFor(modelItem => item.LocationName)
                            </td>
                            <td class="start">
                                @Html.DisplayFor(modelItem => item.LocationStart)
                            </td>
                            <td class="end">
                                @Html.DisplayFor(modelItem => item.LocationEnd)
                            </td>
                            <td class="desc">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="type">
                                @Html.DisplayFor(modelItem => item.locationType)
                            </td>
                            @*<td class="status">
                                    @item.ReserveStatus
                                </td>*@
                            <td></td>
                        </tr>
                    }
                }
            </table>
        </div>
          
    </div>
  
    <div class="col-md-4">
        
        <div class="panel panel-default" style=" border-radius: 5%;">
            <div class="panel-heading activity-heading" style="font-size: 18px;">Activities</div>
            <div class="panel-body" style="height: 100%;">
                <div class="activity-body">
                    Choose One Date to Check Activities
                </div>
            </div>
        </div>
    </div>
</div>

