﻿<a class="weatherwidget-io" href="https://forecast7.com/en/n37d88145d03/caulfield/" data-label_1="CAULFIELD" data-label_2="WEATHER" data-font="Times New Roman" data-icons="Climacons Animated" data-theme="original">CAULFIELD WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<link href="~/Content/weather.css" rel="stylesheet" />