﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/img/team-logo.png" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/elegant-icon/style.css" rel="stylesheet" />
    <link href="~/Content/vendors/revolution/css/settings.css" rel="stylesheet" />
    <link href="~/Content/vendors/revolution/css/layers.css" rel="stylesheet" />
    <link href="~/Content/vendors/revolution/css/navigation.css" rel="stylesheet" />
    <link href="~/Content/vendors/animate-css/animate.css" rel="stylesheet" />
    <link href="~/Content/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Content/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/vendors/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Content/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <script src="~/Content/vendors/counterup/apear.js"></script>
    <script src="~/Content/vendors/counterup/countto.js"></script>
    <script src="~/Content/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="~/Content/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="~/Content/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/vendors/parallaxer/jquery.parallax-1.1.3.js"></script>

    <script src="~/Scripts/theme.js"></script>
</head>
<body>
    @*<div>
            <div class="row">
                <div class="col-md-2">
                    <a class="navbar-brand" href="index"></a>
                </div>
                <div class="col-md-8">
                    <img src="../../img/Home/main_title.png" id="titleArea" />
                </div>
                <div class="col-md-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="login" style="font-size: 20px; font-style: italic;">Sign in</a> </li>
                    </ul>
                </div>
            </div>
        </div>*@
    @*<section class="search_area">
            <div class="search_inner">
                <input type="text" placeholder="Enter Your Search...">
                <i class="ti-close"></i>
            </div>
        </section>*@
    <header class="main_menu_area">
        <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px;  background: rgba(0, 0, 0, .5)">
            @*<a class="navbar-brand" href="/Home/Index"> <img src="../../img/Home/main_title.png" id="titleArea" style="width: 40%; margin-top: -3.5%;" /></a>*@
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    
                </div>
                <div class="collapse navbar-collapse" style="padding-bottom: 0px;" id="myNavbar">
                    <ul class="nav navbar-nav" style="margin-bottom: 0px;">
                        <li class="nav-item" id="Sugarbattle"><a class="nav-link" href="/Home/Index">Home</a></li>
                        <li class="dropdown nav-item" id="Facts">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facts <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li id="dropdown-it"><a href="/Home/ObesePage">Overweight & Obesity</a></li>
                                <li id="dropdown-it"><a href="/Home/Disease">Disease Facts</a></li>
                                <li id="dropdown-it"><a href="/Home/FactDiagram">Related Data</a></li>

                            </ul>
                        </li>
                        <li class="nav-item" id="Sugar Calculator"><a class="nav-link" href="/DailyPlan/CalculateSugar">Sugar Calculator</a></li>
                        <li class="nav-item" id="Recipes"><a class="nav-link" href="/Recipies/Index">Recipes</a></li>
                        <li class="nav-item" id="Location"><a class="nac-link" href="/Location/Index">Location</a></li>
                        @*<li class="nav-item" id="About"><a class="nav-link" href="/Home/About">About</a></li>*@

                    </ul>
                    @*<ul class="navbar-nav justify-content-end">
                <li><a href="#"><i class="icon_search"></i></a></li>

            </ul>*@
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>


    <div class="body-content">
        @RenderBody()
    </div>

    <footer class="footer_area">
        <div class="footer_widgets_area">
            <div class="container">
                <div class="f_widgets_inner row">
                    <div class="col-lg-4 col-md-7">
                        <aside class="f_widget categories_widget">
                            <div class="f_w_title">
                                <h3>Data Source Link</h3>
                            </div>
                                <ul>
                                    <li><a href="https://au.openfoodfacts.org/"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Australia Food Facts</a></li>
                                    <li><a href="https://search.data.gov.au/"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Australia Open Data</a></li>
                                    <li><a href="https://www.google.com/maps"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Location Data</a></li>
                                </ul>
                          
                        </aside>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <aside class="f_widget categories_widget">
                            <div class="f_w_title">
                                <h3>Link Categories</h3>
                            </div>
                            <ul>
                                <li><a href="/Home/Index"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Home</a></li>
                                <li><a href="/DailyPlan/CalculateSugar"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Sugar Calculator</a></li>
                                <li><a href="/Location/Index"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Location</a></li>
                            </ul>
                            <ul>
                                <li><a href="/Home/Disease"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Sugar Disease</a></li>
                                <li><a href="/Recipe/Index"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Recipes</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-md-7">
                        <aside class="f_widget contact_widget">
                            <div class="f_w_title" style="margin-top: 20%;">
                                <a href="/Account/Login"  style=" font-size: x-large"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Join Us Now</a>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_right_area">
            <div class="container">
                <div class="float-md-left">
                    <h5>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">SuperNinja</a>
                    </h5>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>
<script>
    $(document).ready(function () {
        $(".nav-item").each(function () {
            if ($(this).attr("id") == "@ViewBag.Title") {
                $(this).addClass("active");
            }
        })
    })

    var showFact = function () {
        window.location.href = "/Home/Disease";
    }

    var showObese = function () {
        window.location.href = "/Home/ObesePage";
    }
</script>


