﻿<link href="~/Content/notification.css" rel="stylesheet" />
@if (Session["user"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
<ul class="nav navbar-nav navbar-right">
    <li>
        <div class="notifications">
            <i class="fa fa-bell"></i>
            @if ((int)Session["LocationNum"] == 0)
            {
                <span class="num">
                    0
                </span>
                <ul id="note-list">
                            <li class="icon">
                                <a href="/Location/Index"><span class="text">No Activities in Current Week</span></a>
                            </li>
                </ul>
            }
            else
            {
                <span class="num">
                    @Session["locationNum"]
                </span>
                <ul id="note-list">
                    @{foreach (var item in (List<SugarBattle.Models.UserLocation>)Session["locations"])
                        {
                    <li class="icon">
                        <div class="row">
                            <div class="col-xs-4">
                                <a href="/Location/GoIndex">
                                    <span class="text">@item.LocationStart</span>
                                </a>
                            </div>
                            <div class="col-xs-8">
                                <a href="/Location/GoIndex">
                                    <span class="text">@item.Location.Name</span>
                                </a>
                            </div>
                        </div>
                    </li>
                        }
                    }
                </ul>
            }

        </div>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello @Session["username"]<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li id="dropdown-it"><a href="/DailyPlan/ShowMyFoodList">My Food Track</a></li>
            <li id="dropdown-it"><a href="/Location/GoIndex" onclick="showMyRecipe()">My Calendar</a></li>
            <li id="dropdown-it"><a href="/Recipies/ShowUserRecipy">My Recipes</a></li>
            <li id="dropdown-it"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" id="Register">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="nav-item" id="Log in">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
