﻿@model IEnumerable<SugarBattle.Models.RecipyViewModel>
@{
    ViewBag.Title = "Recipes";
    Session["url"] = "Recipies/Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/recipies.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="banner_area" style="height: 300px;">
    <div class="container banner_text_inner" style="padding-top: 3%;">
        <div style=" background-color: rgba(0, 0, 0, 0.5); padding-top: 2%; padding-bottom: 2%;border-radius: 10px;">
            <h4>Low Sugar Recipes</h4>

            <div style="color: white; font-size:large; margin-bottom: 1%; margin-top: 1%;">Cook low sugar food for your children</div>
        </div>
        </div>
</section>
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <ul id="sub-navbar" style="display: inline-block;">
                <li style="display: inline-block"><a href="/Recipies/Index" class="subnav" data-text="All Recipes"></a></li>

                @if (Session["user"] == null)
                {
                    <li style="display: inline-block"><a href="#" data-toggle="modal" data-target="#loginWarningModal" class="subnav" data-text="My Favorites"></a></li>

                }
                else
                {
                    <li style="display: inline-block"><a href="/Recipies/ShowUserRecipy" class="subnav" data-text="My Favorites"></a></li>
                }
            </ul>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item" style="height: 400px">
                    <a class="portfolio-link" data-toggle="modal" href="#@item.RecipyId">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <div style="line-height: 100px;">
                                    <h4>SERVES</h4>
                                    <h4 style="margin-top: 3%; font-style:italic">@item.Serves Kids</h4>
                                    <hr />
                                    <h4>TIME TO MAKE </h4>
                                    <h4 style="margin-top: 3%; font-style:italic">@item.Time MINS</h4>
                                </div>
                            </div>
                        </div>
                        <div style="width: 360px; height: 300px;background-image: url('../img/Recipies/@{@item.RecipyName}.png');background-position: center; background-repeat: no-repeat; background-size: cover">
                            @*<img class="img-responsive" src="~/img/Recipies/@{@item.RecipyName}.png" alt="" style=" height: auto">*@
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>@item.RecipyName</h4>
                    </div>
                </div>

            }

        </div>
    </div>
</section>
@foreach (var item in Model)
{
    <div class="portfolio-modal modal fade" id="@item.RecipyId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 100%; margin-right: 10%;">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 mx-auto">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2 class="text-uppercase" style="font-weight:700">@item.RecipyName</h2>
                                <p class="item-intro text-muted">Time Needed: @item.Time minutes</p>
                                <div class="row">

                                    <div class="col-md-6">
                                        <img class="img-fluid d-block mx-auto" src="~/img/Recipies/@{@item.RecipyName}.png" alt="" style="width: 80%;">

                                        <h3 style="font-weight:600; text-align: left; margin-bottom: 20px; color: gray">Ingredients</h3>
                                        <ul class="list-group" style="text-align: left;">
                                            @foreach (var ingredient in item.Ingredients.Split('_'))
                                            {
                                                <li class="list-group-item" style="background-color: #f9f9f9; color: #666; font-size:medium; padding-left: 30px; padding-right: 30px">@ingredient</li>
                                            }
                                        </ul>

                                        <h3 style="font-weight:600; text-align: left; margin-bottom: 20px; color: gray">Nutritions</h3>
                                        <ul class="list-group list-unstyled" style="text-align: left;">
                                            @foreach (var nutrition in item.Nutrition.Split('_'))
                                            {
                                                <li class="list-group-item" style="background-color: #f9f9f9; color: #666; font-size:small; padding-left: 30px; padding-right: 30px">@nutrition</li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 style="font-weight:600; text-align: left; margin-bottom: 20px; color: gray">Directions</h3>
                                        <ul class="list-group" style="text-align: left;">
                                            @foreach (var direction in item.Instructions.Split('_'))
                                            {
                                                <li class="list-group-item" style=" background-color: #f9f9f9; color: #666; font-size:large; padding-left: 30px; padding-right: 30px; line-height: 30px">@direction</li>
                                                <li class="text-center"><i class="fa fa-arrow-circle-down" style="font-size: 50px; margin-top: 3%; margin-bottom: 3%; color: #383838"></i></li>
                                            }
                                            <li class="text-center"><img src="~/img/Recipies/cook-finish.jpg" style="width: 50%;" /></li>
                                        </ul>
                                    </div>
                                </div>
                                @if (item.saved == false)
                                {
                                    <button class="btn btn-primary" data-dismiss="modal" type="button" onclick="saveRecipy(@item.RecipyId)">
                                        <i class="glyphicon glyphicon-save"></i>
                                        Save This Recipe
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-primary" data-dismiss="modal" type="button" onclick="cancelRecipy(@item.RecipyId)" style="background-color: forestgreen">
                                        <i class="glyphicon glyphicon-erase"></i>
                                        Cancel This Recipe
                                    </button>
                                }

                                <button class="btn btn-primary" data-dismiss="modal" type="button" style="background-color: black">
                                    <i class="glyphicon glyphicon-folder-close"></i>
                                    Close
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="loginWarningModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: linear-gradient(to bottom, grey, #383838); color:white;">
                <a href="#" class="close" data-dismiss="modal">&times</a>
                <h2>Information Tips</h2>
            </div>
            <div class="modal-body">
                <h3 style=" line-height: 40px">You can have your favourite recipe after you log in</h3>
            </div>
            <div class="modal-footer">
                <a href="/Account/Login" class="btn btn-success">Login Now</a>
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap-notify.js"></script>
<script src="~/Scripts/bootstrap-notify.min.js"></script>
<script>
    var saveRecipy = function (recipyId) {
        $.ajax({
            type: "POST",
            url: "/Recipies/SaveRecipy",
            data: { RecipyId: recipyId },
            success: function (response) {
                if (response == "false") {
                    $("#loginWarningModal").modal('show');
                } else {
                    $.notify({
                        icon: 'glyphicon glyphicon-thumbs-up',
                        message: 'You have successfully save one recipy',
                        
                    }, {
                            type: 'success',
                            delay: 1000,
                            onClose: function () { window.location.href = '/Recipies/ShowUserRecipy'; }
                        });
                }
            }
        });
    };

    var cancelRecipy = function (recipyId) {
        $.ajax({
            type: "POST",
            url: "/Recipies/CancelRecipy",
            data: { RecipyId: recipyId },
            success: function (response) {
                $.notify({
                    icon: 'glyphicon glyphicon-shopping-cart',
                    message: 'You have successfully cancel one recipy',

                }, {
                        type: 'info',
                        delay: 1000,
                        onClose: function () { window.location.href = '/Recipies/ShowUserRecipy'; }
                    });
            }
        })
    };
</script>


